{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="child_container">
        <div class="container_row1">
            <div>
                <div class="fc_box">
                    <table>
                        <tr>
                            <td>
                                <p>Ime i prezime: Marko Marković</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Datum rođenja: 23.11.2000.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Pol: Muški</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="sc_box">
                    <img src="{% static 'images/person/person1.png' %}">
                </div>
            </div>
            <div>
                <div class="fc_box">
                    <table>
                        <tr>
                            <td>
                                <p>Ime i prezime: Aleksandar Stojković</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Datum rođenja: 7.1.1989.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Pol: Muški</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="sc_box">
                    <img src="{% static 'images/person/person2.png' %}">
                </div>
            </div>
            <div>
                <div class="fc_box">
                    <table>
                        <tr>
                            <td>
                                <p>Ime i prezime: Sara Mihajlović</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Datum rođenja: 17.1.2002.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Pol: Ženski</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="sc_box">
                    <img src="{% static 'images/person/person3.png' %}">
                </div>
            </div>
        </div>

        <div class="container_row2">
            <div>
                <div class="fc_box">
                    <table>
                        <tr>
                            <td>
                                <p>Ime i prezime: Sofija Stefanović</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Datum rođenja: 1.4.1988.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Pol: Ženski</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="sc_box">
                    <img src="{% static 'images/person/person4.png' %}">
                </div>
            </div>
            <div>
                <div class="fc_box">
                    <table>
                        <tr>
                            <td>
                                <p>Ime i prezime: Dejana Dejanović</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Datum rođenja: 1.11.1992.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Pol: Ženski</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="sc_box">
                    <img src="{% static 'images/person/person5.png' %}">
                </div>
            </div>
            <div>
                <div class="fc_box">
                    <table>
                        <tr>
                            <td>
                                <p>Ime i prezime: Stefan Stanković</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Datum rođenja: 20.2.2001.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Pol: Muški</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="sc_box">
                    <img src="{% static 'images/person/person6.png' %}">
                </div>
            </div>
        </div>
    </div>

{% endblock %}