{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Planet Soft</title>

    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>

    <link href="{% static 'portal/css/base.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'portal/css/navbar.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'portal/css/form.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'portal/css/footer.css' %}" rel="stylesheet" type="text/css">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">



</head>
<body>
    <div class="content">
        <nav class="nav">
            <div class="nav__left">
                <img src="{% static 'portal/images/logo_green.png' %}" alt="Planet Soft Logo" class="nav__logo">
                <h1 class="nav__title">PLANET SOFT</h1>
            </div>
            <div class="nav__right">
                <div class="nav__navigation">
                    <a href="{% url 'index' %}" class="nav__item"><i class="fas fa-home nav__icon u-mr-sm"></i> POČETNA</a>
                    <a href="#" class="nav__item"><i class="fas fa-newspaper"></i> VIJESTI</a>
                    <a href="{% url 'employees' %}" class="nav__item"><i class="fas fa-users"></i> ZAPOSLENI</a>
                    <a href="#" class="nav__item"><i class="fas fa-calendar"></i> KALENDAR</a>
                    <a href="#" class="nav__item"><i class="fas fa-user"></i> PRIJAVA</a>
                </div>
            </div>
        </nav>
    {% block body %}
    
    {% endblock %}
    </div>

<footer class="footer">
    <div class="footer__card">
        <h3 class="footer__card-title">Banja Luka, sprat I</h3>
        <address class="footer__card-text"><b>TELEFON</b>: +387 51 327 110</address>
        <address class="footer__card-text"><b>EMAIL</b>: office@planetsoft.eu</address>
        <address class="footer__card-text"><b>ADRESA</b>: Svetozara Markovića 5, ulaz 11</address>
    </div>
    <div class="footer__card">
        <h3 class="footer__card-title">Banja Luka, sprat III</h3>
        <address class="footer__card-text"><b>TELEFON</b>: +387 51 327 110</address>
        <address class="footer__card-text"><b>EMAIL</b>: office@planetsoft.eu</address>
        <address class="footer__card-text"><b>ADRESA</b>: Svetozara Markovića 5, ulaz 11</address>
    </div>
    <div class="footer__card">
        <h3 class="footer__card-title">Beograd</h3>
        <address class="footer__card-text"><b>TELEFON</b>: +381 11 424 0936</address>
        <address class="footer__card-text"><b>EMAIL</b>: officebg@planetsoft.eu</address>
        <address class="footer__card-text"><b>ADRESA</b>: Airport City, Omladinskih brigada 90b</address>
    </div>
</footer>
</body>
</html>