{% extends '../base.html' %}
{% load static %}

{% block body %}
        <div class="ov-container-center-content ov-login">
        <div class="ov-login__left">
            <form class="ov-form" method="POST">
                {% csrf_token %}
                <div>
                    <label>{{ form.username.label }}</label>

                    {{ form.username }}
                </div>
                <div>
                    <label> {{ form.password.label }}</label>

                    {{ form.password }}
                </div>
                <input type="checkbox" id="boxid_password" onclick ="reveal('id_password')">Prikaži
                <i class="fa-regular fa-eye"></i>
                <div>
                    <button class="ov-form__btn" type="submit">Prijava</button>
                </div>
            </form>
        </div>
        <div class="ov-login__right">
            <img src='{% static 'img/login_image.jpg' %}' alt="">
        </div>

    </div>

{% endblock %}
