{% extends '../base.html' %}
{% load static %}

{% block body %}
    <div class="ov-container-center-content ov-login">
        <div class="ov-login__left">
            <form class="ov-form" method="POST">
                {% csrf_token %}
                {% for error in form.non_field_errors %}
                    <div class="errorlist">
                        {{ error }}
                    </div>
                {% endfor %}
                <div>
                    <label>Korisničko ime</label>
                    {{ form.username }}
                </div>
                <div>
                    <label>Lozinka</label>
                    <div class="ov-login__input-container">
                        {{ form.password }}
                        <input type="checkbox" id="boxid_password" onclick="reveal('id_password')"><i
                        class="fa-regular fa-eye"></i>
                    </div>

                </div>

                <div>
                    <button class="ov-form__btn" type="submit">Prijava</button>
                </div>
            </form>
        </div>
        <div class="ov-login__right">
            <img src='{% static 'img/login_image.jpg' %}' alt="">
        </div>

    </div>

{% endblock %}
