{% extends "portal/base.html" %}

{% block home %}
    active
{% endblock %}

{% block title %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'portal/css/portalHome.css' %}">
    <title>Planet Soft</title>
{% endblock %}

{% block body %}
    <h2 class="text-center my-3">Make your life easier with <span class="green">Planet Soft</span></h2>

    <!-- todo fix this later just for showcase-->
    <div class="row div-dark">
        <div class="row mx-5">
            <div class="col-6">
            <p>{% lorem 150 w %}</p>

            </div>
            <div class="col-6">
                <img src="{% static 'portal/images/logo_header.png' %}" alt="logo"/>
            </div>
        </div>
    </div>
{% endblock %}