{% extends 'template.html' %}
{% load static %}

{% block body %}
    <h1 class="p-2 text-center">Our Employees</h1>

    <div class="container-xl">


    <div class="row">
        {% for emp in object_list %}
            <div class="col-xl-4 col-md-6 col-12 p-4">
            <div class="border border-dark p-4 rounded dv-card-transition">
                <h2 class="border-bottom border-dark">{{ emp.name }}</h2>
                <h4>{{ emp.position.title }}</h4>
                <h5>{{ emp.email }}</h5>
                <div class="border-top border-dark pt-2 d-flex justify-content-end">
                    <button class="btn btn-primary px-4">Preview</button>
                </div>
            </div>

            </div>

        {% endfor %}
    </div>
    </div>


{% endblock %}