{% extends 'base.html' %} {% load static %}

{% block body %}
<main class="hero">
  <div class="hero__left">
    <h1 class="hero__title">
      Planet Soft <br />
      <span>Portal</span>
    </h1>
    <p class="hero__desc">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure vero
      eligendi placeat illum officia similique? Veniam totam, autem aliquam
      quisquam laudantium hic. Nesciunt, eveniet. Quod nam maiores ipsum atque
      quisquam!
    </p>
    <a href="#contact" class="hero__action">Get Started</a>
  </div>
  <div class="hero__right">
    <img src="{% static 'index/img/hero_img.png'%}" alt="" />
  </div>
</main>
{% endblock %}
