<form class="ov-form" id="password-change-form" method="post" novalidate>
    <h3 class="ov-form__title">Promjena lozinke</h3>
    <button type="button" id="close-button" class="close-button-event" onclick="modalClose()"><i
            class="fa-solid fa-rectangle-xmark"></i>
    </button>
    {% csrf_token %}
    {% for error in form.non_field_errors %}
        <div>
            {{ error }}
        </div>
    {% endfor %}
    {% for field in form %}
        <div>
            <label>{{ field.label }}</label>
            <div class="password-change-div">
                {{ field }}
                <input type="checkbox" id="box{{ field.auto_id }}" onclick="reveal('{{ field.auto_id }}')"><label for="box{{ field.auto_id }}"><i class="fa fa-eye"></i></label></input>
            </div>

        </div>
        {% if field.errors %}
            <div>
                {{ field.errors }}
            </div>
        {% endif %}
    {% endfor %}
    <div>
        <button type="button" id="close-button" class="ov-form__btn ov-form__btn--blue" onclick="modalClose()">
            Odustani
        </button>

        <button class="ov-form__btn" type="button" onclick="submitPasswordChangeForm()">Promijeni</button>
    </div>
</form>
   
