<form class="ov-form" id="password-change-form" method="post" novalidate>
    <h3 class="ov-form__title">Promjena šifre</h3>
    {% csrf_token %}
    {% for error in form.non_field_errors %}
        <div>
            {{ error }}
        </div>
    {% endfor %}
    {% for field in form %}
        <div>
            <label>{{ field.label }}</label>
            {{ field }}
        </div>
        {% if field.errors %}
            <div>
                {{ field.errors }}
            </div>
        {% endif %}
    {% endfor %}
    <div>
        <button type="button" id="close-button" class="ov-form__btn ov-form__btn--blue" onclick="modalClose()">
            Odbaci
        </button>
        <button class="ov-form__btn" type="button" onclick="submitPasswordChangeForm()">Promjeni lozinku</button>
    </div>
</form>
   
