.container_fluid2 {
    position: absolute;
    top: 150%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.first_child_container2, .second_child_container2, .third_child_container2 {
    width: 33%;
    float: left;
    padding: 50px;
}

.first_child_container2 > div > img, .second_child_container2 > div > img, .third_child_container2 > div > img {
    height: 160px;
    width: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.first_child_container2 > div > img:hover, .second_child_container2 > div > img:hover, .third_child_container2 > div > img:hover {
    background-color: #d5fc6b2c;
    border-radius: 20%;
    transition: 0.5s;
    cursor: grab;
}

.first_child_container2 > div > h2, .second_child_container2 > div > h2, .third_child_container2 > div > h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: seashell;
    text-align: center;
}

.first_child_container2 > div > h2:hover, .second_child_container2 > div > h2:hover, .third_child_container2 > div > h2:hover {
    color: #A6CE39;
    transition: 0.5s;
    cursor: grab;
}

.first_child_container2 > div > p, .second_child_container2 > div > p, .third_child_container2 > div > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding-top: 20px;
    color: seashell;
    text-align: center;
}

.first_child_container2 > div > p:hover, .second_child_container2 > div > p:hover, .third_child_container2 > div > p:hover {
    color: #A6CE39;
    cursor: grab;
    transition: 0.5s;
}

/*planet-soft boja #A6CE39*/