.container_fluid1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logomaintitle {
    margin-left: 10px;
    height: 75px;
    width: 75px;
}

#maintitle {
    padding: 20px;
    font-size: 55px;
    color: seashell;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

#maintitle:hover {
    padding: 20px;
    color: #A6CE39;
    font-size: 30px;
    cursor: grab;
}