@keyframes showNav {
  from {
    transform: translateY(-60rem);
    height: 1vh;
  }
  to {
    transform: translateY(0);
    height: 55vh;
  }
}

@keyframes hideNav {
    from {
        transform: translateY(0);
        height: 55vh;
      }
      to {
        transform: translateY(-60);
        height: 1vh;
      }
}
