:root {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond(tab-land) {
    font-size: 56.25%; // 1 rem = 9px / 16px = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; // 1 rem = 8px / 16px = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px/16px = 75%
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* width */
::-webkit-scrollbar {
  width: 1.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: lighten($color-tertiary, 15%);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-secondary;
  border-radius: 1rem;
  border: 1px solid lighten($color-tertiary, 15%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lighten($color-secondary, 5%);
}

body {
  box-sizing: border-box;
  background-color: $color-white;
  font-family: 'Nunito', sans-serif;
  position: relative;
  min-height: 100vh;
  @include respond(phone) {
    overflow-x: hidden;
  }

  ::selection {
    background-color: $color-primary;
    color: $color-white;
  }

  ::placeholder {
    color: $color-white;
  }
}
