.dv-navbar-text{
    color:rgb(166,206,57);
    text-decoration: none;
}
.dv-navbar-text:hover{
    text-decoration: none;
    color: rgb(98, 158, 30);
}
.dv-footer-text{
    color:rgb(166,206,57);
    text-decoration: none;
}

.dv-navbar-link{
    color:rgb(166,206,57);
    text-decoration: none;
    font-size: 1.5rem
}
.dv-navbar-link:hover{
    text-decoration: none;
    color: rgb(98, 158, 30);

}
