.dv-navbar-text{
    color:rgb(166,206,57);
    text-decoration: none;
}
.dv-navbar-text:hover{
    text-decoration: none;
    color: rgb(98, 158, 30);
}
.dv-footer-text{
    color:rgb(166,206,57);
    text-decoration: none;
}

.dv-navbar-link{
    color:rgb(166,206,57);
    text-decoration: none;
    font-size: 1.5rem
}
.dv-navbar-link:hover{
    text-decoration: none;
    color: rgb(98, 158, 30);

}
.rotate {
  animation: rotation 4s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


.dv-card-transition{
    cursor: pointer;
}

.dv-card-transition:hover{
    transform: scale(1.05);
    transition-duration: 100ms;
    background-color: #e5e5e5;
}

.hero-image{
    max-height: 500px;
    max-width: 500px
}

