@media only screen and (max-width: 1200px) {
  input[type=radio], input[type=checkbox]{
    height: 2rem;
    width: 2rem;
  }
  /* NAVIGATION */
  .ov-nav {
    flex-direction: column;
  }
  .ov-nav__left {
    padding: 2rem 0;
    margin-bottom: 1rem;
    align-self: flex-start;
  }
  .ov-nav__title {
    font-size: 2.5rem;
  }

  .ov-nav__navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--white);
    width: 100vw;
    height: 1vh;
    transform: translateY(-60rem);
    animation-name: none;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    z-index: 1;
  }
  .ov-nav__item {
    font-size: 3rem;
    padding: 6rem 0;
  }
  .ov-nav__item:last-child {
    margin-left: 0;
  }
  .ov-nav__hamburger-btn {
    display: inline-block;
  }

  /* DROPDOWN */
  .ov-nav__navigation-dropdown {
    position: unset;
    background: unset;
    text-align: center;
    width: 50%;
    display: block;
    border: none;
  }

  /* SEARCH AND FILTERS */
  .dk-search {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;

  }
  .dk-search input {
    font-size: 2rem;
    padding: 1rem;
    width: 95%;
  }
  .dk-search input[type=radio]{
    height: 2rem;
    width: 2rem;
  }
  .dk-search select{
    font-size: 2rem;
    width: 70%;
    display: block;
    outline: none;
    padding: 0.25rem;
    border: 1px solid var(--primary);
    border-radius: 0.5rem;
  }
  .dk-search a{
    font-size: 2rem;
  }
  .dv-input-container option{
    font-size: 0.8rem;
  }

  .dv-input-container{
    flex-direction: column;
    gap: 2rem;
    font-size: 2rem;
  }
  .dk-i{
    display: block;
    position: relative;
    right: -8%;
    bottom: 1rem;
  }
  .dk-i > svg{
    position: absolute;
    bottom: 40%;
    right: 10%;
  }
  /* CARDS */
  .dk-grid-container {
    grid-template-columns: 1fr;
  }

  .dk-item {
    width: 100%;
  }
  .dk-item a {
    font-size: 2rem;
  }
  .dk-name h4 {
    font-size: 2.5rem;
  }
  .dk-pagination a,
  .dk-pagination span {
    font-size: 3rem;
  }

  /* FOOTER */
  .ov-footer {
    flex-direction: column;
  }

  /* MODAL FORM */
  .modal-container .ov-form {
    width: 80vw;
  }
  .ov-form__title {
    font-size: 3rem;
  }
  .ov-form label,
  .ov-form input[type='text'],
  .ov-form input[type='password'],
  .ov-form input[type='email'],
  .ov-form select,
  .ov-form input[type='submit'],
  .ov-form button {
    font-size: 3rem;
    display: block;
    width: 90%;
  }
  .ov-form input[type="date"],
  .ov-form input[type="file"] {
    font-size: 2rem;
  }

  .ov-form label[for="id_profile_pic"]::after {
    font-size: 2rem;
  }

  
 .ov-form #id_is_admin, .ov-form #id_is_editor {
   left: 25%;
 }
 .ov-form a {
    font-size: 3rem;
    width: 84%;
  }
  .ov-form option{
    font-size: 1rem;
  }
  .ov-form__btn-container {
    flex-direction: column;
  }
  .ov-form__btn-container button:first-child {
    order: 3;
  }

  /* LOGIN */
.ov-form, .ov-password-change .ov-form{
    width: 70%;
  }
  .ov-login {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ov-login .ov-form {
    width: 70%;
    padding: 2rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
  }
  .ov-login__left {
    width: 100%;
    order: 1;
  }
  .ov-login__right img{
    width: 100%;
  }

  .ov-password-change .ov-form {
    font-size: 2.5rem;
  }
  .ov-login .ov-form__btn, .ov-password-change .ov-form__btn{
    font-size: 2.5rem;
    font-weight: bold;
    padding: 1rem 0;
  }
  .ov-logout h4{
    font-size: 3rem;
  }
  .ov-logout a {
    font-size: 2.5rem;
  }
  .errorlist li {
    font-size: 2rem;
  }

  /* DELETE MODAL */
  .ov-delete-modal__question {
    width: 50%;
    margin: 0 auto !important;
    color: var(--primary);
    font-size: 2.5rem;
}
  .dv-mobile-fullw{
    width: 100%;
  }


  /* NEWS */
  .headline {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    }
    .content{
        padding: 1rem;
    }
    .headline > p {
      text-align: center;
      font-size: 1.5rem;
      padding: 1rem;
    }
    .headline > h4 {
      font-size: 3rem;
      padding: 1rem;
    }
    .headline > div > a {
      font-size: 2rem;
    }
    .headline > div > button {
      font-size: 2rem;
    }
    .comment-like-section {
      width: 100%;
      grid-template-columns: 1fr 1fr 5fr;
    }
    .comment-like-section .news-like, .comment-like-section .news-dislike{
      display: flex;
    }
    .comment-like-section .news-comment {
      margin-left: 1rem;
    }
    .comment-like-section button, .comment-like-section span{
      font-size: 2rem;
    }
    .comment-like-section textarea {
      font-size: 2rem;
    }
    .dk-grid {
        font-size: 1.5rem;
        grid-row-gap: 2rem;
    }
    .dk-grid>div{
      display: flex;
      justify-content: center;
    }
    .search{
      grid-column: 2/10;
    }
    .search input{
        font-size: 2rem;
        padding: 1rem;
        width: 90%;

    }
    .news-i{
        right: 3.5rem;
        font-size: 2.2rem;
    }
    .choose_author{
        grid-column: 2/10;
        align-items: center;
}
    .choose_author select{
        padding: 1rem;
        font-size: 2rem;
    }
    .create_news{
        font-size: 1.1rem;
        grid-column: 2/10;
}
    .create_news a{
        font-size: 2rem;
    }
    .dk-author-filter-select{
      width: 70%;
    }
    .dk-author-filter-select option{
      font-size: 0.8rem;
    }

    /* COMMENT AREA */
    .comment-like-section .news-comment textarea {
      height: 2.5rem;
    }
}
