<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Planet Soft - Portal</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index/css/fonts.css' %}" />
    <link rel="stylesheet" href="{% static 'index/css/style.css' %}" />
    <link rel="shortcut icon" href="{% static 'index/img/logo_green.png' %}" />
    <script
      src="{% static 'index/icons/icons.js' %}"></script>
  </head>
  <body>
    <header class="header">
      <nav class="header__navbar">
        <div class="header__logo">
          <img src="{% static 'index/img/logo_green.png'%}" alt="Logo" />
          <h3>Planet Soft</h3>
        </div>
        <a href="#" class="header__nav-item header__nav-toggle-btn" id="nav-toggle-btn"><i class="fas fa-bars"></i></a>
        <div class="header__navigation" id="navigation">
          <div class="header__nav">
            <a href="/" class="header__nav-item">Početna</a>
            <a href="/employees/" class="header__nav-item">Zaposleni</a>
            <a href="#" class="header__nav-item">O nama</a>
            <a href="#" class="header__nav-item">Kontakt</a>
          </div>
          <div class="header__buttons">
            <a href="#" class="btn btn-primary header__buttons-item">Login</a>
            <a href="#" class="btn btn-secondary header__buttons-item"
              >Register</a
            >
          </div>
        </div>
      </nav>
    </header>
    {% block body %} {% endblock %}
    <footer class="footer">
      <div class="footer__copy">
        <p>Copyright &copy; Planet Soft. All rights reserved.</p>
        <img src="{% static 'index/img/logo_white.png'%}" alt="" />
      </div>
      <div class="footer__socials">
        <a href="#"> <i class="footer__socials-item fab fa-linkedin-in"></i></a>
        <a href="#"> <i class="footer__socials-item fab fa-github"></i></a>
      </div>
    </footer>

    <script src="{% static 'index/js/base.js' %}"></script>
  </body>
</html>
