.header {
  background-color: $color-white;
  position: relative;
  overflow-y: au;
  // NAVIGATION
  &__navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $color-quaternary;
    box-shadow: 0 3px 6px rgba($color-black, 0.15);

    @include respond(phone) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    & h3 {
      font-size: 2rem;
      color: $color-primary;
      @include respond(phone) {
        font-size: 3rem;
        background-color: $color-quaternary;
        z-index: 6;
      }
    }
  }
  &__navigation {
    display: flex;
    flex-direction: row;
    z-index: 1000;
    @include respond(phone) {
      flex-direction: column;
      align-items: center;
      width: 100%;
      z-index: 5;
      transform: translateY(-60rem);
      height: 1vh;
      animation-name: none;
      animation-duration: 1s;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
    }
  }
  &__nav {
    @include respond(phone) {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
    &-item {
      text-decoration: none;
      color: $color-primary;
      font-size: 1.7rem;
      padding: 0 2rem;
      font-weight: bold;

      @include respond(phone) {
        padding: 2rem 0;
        font-size: 2.5rem;
        text-align: center;
      }
      &:hover {
        text-shadow: 0 0.3rem 0.7rem lighten($color-primary, 5%);
      }
    }
  }
  &__nav-toggle-btn {
    display: none;
    @include respond(phone) {
      display: inline-block;
      position: absolute;
      top: 1rem;
      right: 5rem;
    }
  }
  &__buttons {
    margin-right: 15rem;
    margin-left: 30rem;
    @include respond(phone) {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 0;
    }
    &-item {
      text-decoration: none;
      color: $color-white;
      font-size: 1.2rem;
      margin: 0 2rem;
      @include respond(phone) {
        font-size: 2rem;
        text-align: center;
        margin: 2rem 0;
      }
    }
  }
}
