/* Animation for showing and hiding navigation on mobile phones */
@keyframes showNav {
  from {
    transform: translateY(-60rem);
    height: 1vh;
    top: -15%;
  }
  to {
    transform: translateY(0);
    height: 100vh;
    top: 0;
  }
}
@keyframes hideNav {
  from {
    transform: translateY(0);
    height: 100vh;
    top: 0;
  }
  to {
    transform: translateY(-60rem);
    height: 1vh;
    top: -15%;
  }
}