:root {
    --white: #fff;
    --medium-gray: #444;
    --light-gray: #666;
    --primary: #005B82;
    --primary-light: #e3ebf1;
    --accent: #A8CE3B;
    --accent-light: #ecf4d4;
    --alert: #842029;
    --alert-light: #f5c2c7;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    width: 100%;
    font-family: sans-serif;
    height: 100%;
    background-image: url('../images/background.png');
    background-size: 100vw auto;
}

body {
    display: flex;
    flex-direction: column;

}
::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: var(--primary-light);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 1rem;
}

.ov-content {
    flex: 1 0 auto;
}

h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 3.33rem;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 2.66rem;
    margin: 0;
    padding: 0;
}

h4 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1.33rem;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.33rem;
}

a:hover {
    color: var(--medium-gray);
}

.dk-search {
    display: flex;
    justify-content: space-between;
}
.dk-search input {
    padding: 0.5rem;
    font-size: 0.7rem;
    border: 1px solid var(--primary);
    margin-top: 2.5rem;
    margin-left: 11rem;
    border-radius: 0.5rem;
    width: 15rem;
    display: inline;

}

.dk-i {
    display: inline-block;
    right: 1.8rem;
    position: relative;
}

.dk-search a {
    margin-top: 2.5rem;
    margin-right: 11rem;
    border: none;
    font-size: 1.1rem;
    color: var(--primary);
}

.dk-grid-container {
    display: grid;
    grid-column-gap: 8rem;
    grid-row-gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3rem 11rem 3rem 11rem;
}

.dk-edit {
    padding: 3rem 0 0 0;
    color: var(--primary);
    text-align: center;

}

.dk-edit a {
    border: 1px solid var(--primary);
    margin: 5.5rem;
    padding: 0.3rem 0.7rem 0.3rem 0.7rem;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    background: #E3EBF1;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    word-spacing: 0.3rem;

}

.dk-img img {
    width: 16rem;
    height: 7rem;
    position: relative;
    border-radius: 1rem;
    text-align: center;

}

.dk-img {
    border-bottom: 1px solid var(--primary);
    text-align: center;
}

.dk-item {
    border: 2px solid var(--primary);
    padding: 0 0 3rem 0;
    border-radius: 1.25rem;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.dk-icon img {
    width: 6rem;
    height: 6rem;
    border: 1px solid var(--primary);
    padding: 0.5rem;
    border-radius: 20rem;
    display: inline-block;
    margin: 0 5.5rem 0 5.5rem;
    position: relative;
    top: -3rem;
    background-color: #fff;
}

.dk-icon{
    text-align: center;
}

.dk-name {
    padding: 0 0 1rem 0;
}

.dk-name h4 {
    color: var(--primary);
    font-size: 1.25rem;
    display: block;
    clear: both;
    text-align: center;
}

.dk-item p {
    color: var(--primary);
    font-size: 1rem;
    text-align: center;
}

.dk-pagination a {
    color: var(--primary);
    padding: 0.5rem;

}

.dk-pagination {
    text-align: center;
    margin-bottom: 2rem;
}

.modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.modal-container .ov-form {
    width: 100%;
    overflow-y: scroll;
}

.modal-header,
.modal-content,
.modal-footer {
    width: 100%;
}

.close-button {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.bk-currentPage {
    font-size: 1.5rem;
}

.bk-noNextPage {
    font-size: 1.33rem;
}

.ov-container-center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
}
.ov-login .ov-form, .ov-password-change .ov-form{
    width: 25%;
}
.ov-login .ov-form__btn, .ov-password-change .ov-form__btn{
    display: block;
    width: 100%;
    font-size: 1.25rem;
}
.ov-logout a {
    background-color: var(--primary);
    color: var(--white);
    padding: 1rem 3rem;
    margin: 1rem 0;
    border-radius: 5px;
    transition: .5s ease;
}
.ov-logout a:hover {
    background-color: var(--primary);
    filter: brightness(1.2);
}
.ov-password-change div{
    padding: 1rem 2rem;
    color: var(--primary);
}

.dk-search .radio {
    margin-left: 0.5rem;
     width: auto;
}