:root {
    --medium-gray: #444;
    --light-gray: #666;
    --primary: #005B82;
    --accent: #A8CE3B;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    width: 100%;
    font-family: sans-serif;
    height: 100%;
    background-image: url('../images/background.png');
    background-size: 100vw auto;
}

body {
    display: flex;
    flex-direction: column;

}

.ov-content {
    flex: 1 0 auto;
}

h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 3.33rem;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 2.66rem;
    margin: 0;
    padding: 0;
}

h4 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1.33rem;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.33rem;
}

a:hover {
    color: var(--medium-gray);
}

.ov-modal {
    display: none;
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.dk-search input {
    padding: 0.5rem;
    font-size: 0.7rem;
    border: 1px solid var(--primary);
    margin-top: 2rem;
    margin-left: 8rem;
    border-radius: 0.5rem;
    width: 15rem;
    display: inline;

}

.dk-i {
    display: inline-block;
    right: 1.8rem;
    position: relative;
}

.dk-search a {
    margin-top: 2rem;
    margin-right: 8rem;
    border: none;
    font-size: 1.1rem;
    color: var(--primary);
    float: right;
}

.dk-grid-container {
    display: grid;
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3rem 8rem 3rem 8rem;
}

.dk-item {
    border: 2px solid var(--primary);
    padding: 3rem;
    border-radius: 0.5rem;
    background-color: #fff;
}

.dk-icon img {
    width: 6rem;
    height: 6rem;
    border: 1px solid var(--primary);
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: inline-block;
    float: left;
}

.dk-item a {
    padding: 0.5rem;

}

.dk-item h4 {
    padding: 4rem 0 5rem 0;
    color: var(--primary);
    font-size: 1.5rem;
    display: block;
    float: none;
    clear: both;
}

.dk-item p {
    color: var(--primary);
    font-size: 1rem;
}

.dk-pagination a {
    color: var(--primary);
    padding: 0.5rem;

}

.dk-pagination {
    float: right;
    margin-right: 8rem;
    margin-bottom: 2rem;
}

.bk-currentPage{
    font-size: 1.5rem;
}

.bk-noNextPage{
    font-size: 1.33rem;
}