:root{
    --text-main: #000;
    --medium-gray: #444;
    --light-gray: #666;
}

html, body{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    width: 100%;
}

h1{
    font-size: 4rem;
    margin: 0;
    padding: 0;
}
h2{
    font-size: 3.33rem;
    margin: 0;
    padding: 0;
}
h3{
    font-size: 2.66rem;
    margin: 0;
    padding: 0;
}
h4{
    font-size: 2rem;
    margin: 0;
    padding: 0;
}
p{
    font-size: 1.33rem;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    cursor: pointer;
    font-size: 1.33rem;
}
a:hover{
    color: var(--medium-gray);
}
.dk-grid-container{
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: auto auto auto;
    padding: 1rem 10rem 1rem 10rem;
}
.dk-item{
    border:2px solid black;
    padding: 2rem;
}
.dk-icon{
    width: fit-content;
    border: 1px solid black;
    padding: 0.5rem;
}
.dk-item h2{
    padding: 3rem 0 3rem 0;
}