/* GENERAL STYLES */
body {
    background-color: #262a2d;
    color: white;
}

.div-dark {
    background-color: #1b1f23;
}

.green {
    color: #a6ce39;
}

.relative{
    position: relative;
    height: 100%;
    width: 100%;
}