.ov-footer {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--accent);
  justify-content: center;
  color: var(--primary);
  flex-shrink: 0;
  background-color: #fff;
}
.ov-footer__card {
  border: 1px solid var(--accent);
  margin: 2rem;
  padding: 1rem;
}
.ov-footer__card-title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.ov-footer__card-text {
  padding: 0.5rem;
}
