.ov-form {
  border: 1px solid var(--primary);
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  background-color: var(--white);
  margin: 3rem auto;
  max-height: 70vh;
  overflow: unset;
  width: 40%;
  
}
.ov-form__title {
  color: var(--primary);
  background-color: var(--primary-light);
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
  margin-bottom: 2rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.ov-form label {
  color: var(--primary);
  display: block;
  padding: 1rem 0;
  font-weight: bold;
}
.ov-form label:not(:first-child) {
  display: inline;
}
.ov-form p, .ov-form div{
  margin: 0 2rem;
}
.ov-form input[type='text'],
.ov-form input[type='password'],
.ov-form input[type='email'] {
  display: block;
  border: none;
  outline: 0;
  border-bottom: 1px solid var(--primary);
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: var(--primary);
}

.ov-form select {
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  padding: .3rem;
}

.ov-form__btn-container {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}
.ov-form__btn {
  border: 1px solid var(--primary);
  outline: none;
  background-color: var(--accent-light);
  color: var(--primary);
  margin: 1rem 0.25rem;
  font-size: 0.8rem;
  padding: 0.5rem 1.25rem;
  border-radius: 5px;
}
.ov-form__btn--blue {
  background-color: var(--primary-light);
}
.ov-form__btn--red {
  background-color: var(--alert-light);
  color: var(--alert);
  border: 1px solid var(--alert);
}
.ov-form__btn:hover {
  cursor: pointer;
}

.errorlist {
  padding: 1rem;
  margin: 1rem 2rem;
  border-radius: 0.25rem;
  color: var(--alert);
  background-color: var(--alert-light);
  border-color: var(--alert-light);
}

.dv-btn-delete{
  border: 1px solid red;
  outline: none;
  background-color: #ecf4d4;
  color: red;
  margin: 1rem 0.25rem;
  font-size: 0.8rem;
  padding: 0.5rem 1.25rem;
  border-radius: 5px;
  cursor: pointer;
}