.ov-form {
  border: 1px solid var(--primary);
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  background-color: var(--white);
  margin: 3rem auto;
  max-height: 70vh;
  overflow: unset;
  width: 40%;
}
.ov-form__title {
  color: var(--primary);
  background-color: var(--primary-light);
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
  margin-bottom: 2rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.ov-form label {
  color: var(--primary);
  display: block;
  padding: 1rem 0;
  font-weight: bold;
}
.ov-form label:not(:first-child) {
  display: inline;
}
.ov-form p,
.ov-form div {
  margin: 0 2rem;
}
.ov-form input[type='text'],
.ov-form input[type='password'],
.ov-form input[type='email'] {
  display: block;
  border: none;
  outline: 0;
  border-bottom: 1px solid var(--primary);
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: var(--primary);
}

.ov-form select {
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  padding: 0.3rem;
}
.ov-form input[type='date'] {
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 5px;
  outline: none;
  padding: 5px;
  background-color: var(--white);
}
.ov-form input[type="file"] {
  visibility: hidden;
 }
 .ov-form label[for="id_profile_pic"] {
   position: relative;
 }
 .ov-form label[for="id_profile_pic"]::after{
   content: "Izaberite avatara";
   position: absolute;
   left: 0;
   bottom: -50%;
   font-size: 1rem;
   background-color: var(--primary-light);
   padding: .5rem;
   border: 1px solid var(--primary);
   border-radius: 5px;
 }
 .ov-form label[for="id_profile_pic"]:hover::after {
   cursor: pointer;
 }

.ov-form__btn-container {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}
.ov-form__btn {
  border: 1px solid var(--primary);
  outline: none;
  background-color: var(--accent-light);
  color: var(--primary);
  margin: 1rem 0.25rem;
  font-size: 0.8rem;
  padding: 0.5rem 1.25rem;
  border-radius: 5px;
}
.ov-form a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ov-form__btn--blue {
  background-color: var(--primary-light);
}
.ov-form__btn--red {
  background-color: var(--alert-light);
  color: var(--alert);
  border: 1px solid var(--alert);
}
.ov-form__btn:hover {
  cursor: pointer;
}

.errorlist {
  padding: 1rem;
  margin: 1rem 2rem;
  border-radius: 0.25rem;
  color: var(--alert);
  background-color: var(--alert-light);
  border-color: var(--alert-light);
}

.dv-btn-delete {
  border: 1px solid red;
  outline: none;
  background-color: #ecf4d4;
  color: red;
  margin: 1rem 0.25rem;
  font-size: 0.8rem;
  padding: 0.5rem 1.25rem;
  border-radius: 5px;
  cursor: pointer;
}

.ov-container-center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
}
.ov-form,
.ov-password-change .ov-form {
  width: 25%;
}
.ov-form__btn,
.ov-password-change .ov-form__btn {
  display: block;
  width: 100%;
  font-size: 1.25rem;
}
.ov-login {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 95vh;
}
.ov-login__left {
  width: 40%;
}
.ov-login .ov-form {
  width: 50%;
  border: none;
  box-shadow: none;
}
.ov-login img {
  width: 50%;
}
.ov-login button {
  width: unset;
  padding: 0.5rem 3rem;
}
.ov-logout a {
  background-color: var(--primary);
  color: var(--white);
  padding: 1rem 3rem;
  margin: 1rem 0;
  border-radius: 5px;
  transition: 0.5s ease;
}
.ov-logout a:hover {
  background-color: var(--primary);
  filter: brightness(1.2);
}
.ov-password-change div {
  padding: 1rem 2rem;
  color: var(--primary);
}

.dv-profile-form {
  max-height: none;
}
.dv-profile-form .ov-form__btn {
  width: unset;
}
.dv-detail-button {
  width: 90%;
  margin: 1rem auto;
}
