.modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.modal-container .ov-form {
    width: 100%;
    overflow-y: scroll;
}

.modal-header,
.modal-content,
.modal-footer {
    width: 100%;
}

.ov-container-center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
}
.ov-login .ov-form, .ov-password-change .ov-form{
    width: 25%;
}
.ov-login .ov-form__btn, .ov-password-change .ov-form__btn{
    display: block;
    width: 100%;
    font-size: 1.25rem;
}
.ov-logout a {
    background-color: var(--primary);
    color: var(--white);
    padding: 1rem 3rem;
    margin: 1rem 0;
    border-radius: 5px;
    transition: .5s ease;
}
.ov-logout a:hover {
    background-color: var(--primary);
    filter: brightness(1.2);
}
.ov-password-change div{
    padding: 1rem 2rem;
    color: var(--primary);
}

.ov-delete-modal__question {
    width: 50%;
    margin: 0 auto !important;
    color: var(--primary);
}

.ov-delete-modal {
    width: 75%;
    margin: 0 auto !important;
}