.ov-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--accent);
  padding-left: 2rem;
  position: relative;
}
.ov-nav__left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ov-nav__logo {
  padding-right: 3rem;
  width: 5rem;
}
.ov-nav__title {
  font-size: 1.5rem;
  color: var(--primary);
}
.ov-nav__right {}
.ov-nav__navigation {}
.ov-nav__item {
  padding:1rem;
  display: inline-block;
  font-size: 1rem;
  color: var(--primary);
  font-weight: bold;
  border-bottom: 3px solid transparent;
  transition: .3s ease;
}
.ov-nav__item:last-child {
  margin-left: 6rem;
}

.ov-nav__item:hover {
  background-color: var(--primary-light);
  border-bottom: 3px solid var(--accent);
}

.ov-nav__hamburger-btn {
  font-size: 5rem;
  color: var(--primary);
  position: absolute;
  right: 4rem;
  top: 1rem;
  display: none;
  z-index: 2;
}