@media only screen and (max-width: 1200px) {
  input[type=radio], input[type=checkbox]{
    height: 2rem;
    width: 2rem;
  }
  /* NAVIGATION */
  .ov-nav {
    flex-direction: column;
  }
  .ov-nav__left {
    padding: 2rem 0;
    margin-bottom: 1rem;
    align-self: flex-start;
  }
  .ov-nav__title {
    font-size: 2.5rem;
  }

  .ov-nav__navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--white);
    width: 100vw;
    height: 1vh;
    transform: translateY(-60rem);
    animation-name: none;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    z-index: 1;
  }
  .ov-nav__item {
    font-size: 3rem;
    padding: 6rem 0;
  }
  .ov-nav__item:last-child {
    margin-left: 0;
  }
  .ov-nav__hamburger-btn {
    display: inline-block;
  }

  /* DROPDOWN */
  .ov-nav__navigation-dropdown {
    position: unset;
    background: unset;
    text-align: center;
    width: 50%;
    display: block;
    border: none;
  }

  /* SEARCH AND FILTERS */
  .dk-search {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
  }
  .dk-search input {
    font-size: 2rem;
    padding: 1rem;
    width: 90%;
  }
  .dk-search input[type=radio]{
    height: 2rem;
    width: 2rem;
  }
  .dk-search select{
    font-size: 2rem;
    width: 70%;
    display: block;
    outline: none;
    padding: 0.25rem;
    border: 1px solid var(--primary);
    border-radius: 0.5rem;
  }
  .dk-search a{
    font-size: 2rem;
  }
  .dv-input-container option{
    font-size: 0.8rem;
  }

  .dv-input-container{
    flex-direction: column;
    gap: 2rem;
    font-size: 2rem;
  }
  .dk-i > svg{
    position: absolute;
    bottom: 40%;
    right: 10%;
  }
  /* CARDS */
  .dk-grid-container {
    grid-template-columns: 1fr;
  }

  .dk-item {
    width: 100%;
  }
  .dk-item a {
    font-size: 2rem;
  }
  .dk-name h4 {
    font-size: 2.5rem;
  }
  .dk-pagination a,
  .dk-pagination span {
    font-size: 3rem;
  }

  /* FOOTER */
  .ov-footer {
    flex-direction: column;
  }

  /* MODAL FORM */
  .modal-container .ov-form {
    width: 80vw;
  }
  .ov-form__title {
    font-size: 3rem;
  }
  .ov-form label,
  .ov-form input[type='text'],
  .ov-form input[type='password'],
  .ov-form input[type='email'],
  .ov-form select,
  .ov-form input[type='submit'],
  .ov-form button,
  .ov-form input[type=date],
  .ov-form input[type=file]{
    font-size: 3rem;
    display: block;
    width: 90%;
  }
  .ov-form a{
    font-size: 3rem;
    width: 84%;
  }
  .ov-form option{
    font-size: 1rem;
  }
  .ov-form__btn-container {
    flex-direction: column;
  }
  .ov-form__btn-container button:first-child {
    order: 3;
  }

  /* LOGIN */
.ov-form, .ov-password-change .ov-form{
    width: 70%;
  }
  .ov-login {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ov-login .ov-form {
    width: 70%;
  }
  .ov-login__left {
    width: 100%;
  }
  .ov-login__right {
    display: none;
  }

  .ov-password-change .ov-form {
    font-size: 2.5rem;
  }
  .ov-login .ov-form__btn, .ov-password-change .ov-form__btn{
    font-size: 2.5rem;
    font-weight: bold;
    padding: 1rem 0;
  }
  .ov-logout h4{
    font-size: 3rem;
  }
  .ov-logout a {
    font-size: 2.5rem;
  }
  .errorlist li {
    font-size: 2rem;
  }

  /* DELETE MODAL */
  .ov-delete-modal__question {
    width: 50%;
    margin: 0 auto !important;
    color: var(--primary);
    font-size: 2.5rem;
}
}
