@media only screen and (max-width: 1200px) {
  /* NAVIGATION */
  .ov-nav {
    flex-direction: column;
  }
  .ov-nav__left {
    padding: 2rem 0;
    margin-bottom: 1rem;
    align-self: flex-start;
  }
  .ov-nav__title {
    font-size: 2.5rem;
  }

  .ov-nav__navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--white);
    width: 100vw;
    height: 1vh;
    transform: translateY(-60rem);
    animation-name: none;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    z-index: 1;
  }
  .ov-nav__item {
    font-size: 4rem;
    padding: 4rem 0;
  }
  .ov-nav__item:last-child {
    margin-left: 0;
  }
  .ov-nav__hamburger-btn {
    display: inline-block;
  }

  /* SEARCH AND FILTERS */
  .dk-search {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dk-search input {
    font-size: 2rem;
    padding: 1rem;
  }
  .dk-search a {
    font-size: 2rem;
  }
  /* CARDS */
  .dk-grid-container {
    grid-template-columns: 1fr;
  }

  .dk-item {
    width: 100%;
  }
  .dk-item a {
    font-size: 2rem;
  }
  .dk-name h4 {
    font-size: 2.5rem;
  }
  .dk-pagination a,
  .dk-pagination span {
    font-size: 3rem;
  }

  /* FOOTER */
  .ov-footer {
    flex-direction: column;
  }

  /* MODAL FORM */
  .modal-container .ov-form {
    width: 80vw;
  }
  .ov-form__title {
    font-size: 3rem;
  }
  .ov-form label,
  .ov-form input[type='text'],
  .ov-form input[type='password'],
  .ov-form input[type='email'],
  .ov-form select,
  .ov-form input[type='submit'],
  .ov-form button {
    font-size: 3rem;
    display: block;
    width: 90%;
  }
  .ov-form option{
    font-size: 1rem;
  }
  .ov-form__btn-container {
    flex-direction: column;
  }
  .ov-form__btn-container button:first-child {
    order: 3;
  }

  /* LOGIN */
  .login-container .ov-form {
    width: 70%;
  }
  .login-container .ov-form input {
    width: 100%;
  }
  .login-container .ov-form__btn {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 1rem 0;
  }
  .errorlist li {
    font-size: 2rem;
  }
}
