* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
}

.mySlides {
    display: none;
}

img {
    height: 350px;
    width: 350px;
}

.slideshowcontent:hover {
    background-color: #d5fc6b2c;
    transition: 0.5s;
    border-radius: 20%;
    cursor: grab;
}


/* Slideshow container */

.slideshow-container {
    margin-top:0px;
    height: 350px;
    width: 350px;
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 25px;
    padding: 30px 12px;
    width: 100%;
    text-align: center;
}

.text:hover {
    color: #A6CE39;
    transition: 1s;
    cursor: grab;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}