{% load static %}
<form class="ov-form" style="height: 500px">
    <div>
        <div class="content">
            <h3 class="ov-form__title">{{ article.headline }}</h3>
            <p>{{ article.content }}</p>
            <div class="dv-newsdetails-photo">
                {% if article.image %}
                    <img src={{ article.image.url }}>
                {% endif %}
            </div>
        </div>
        <div class="name-author">
            <p>Autor: {{ article.author.first_name }} {{ article.author.last_name }}</p>
        </div>
        <div>
            <p>Likes: {{ article.likes__count }}</p>
            <p>Dislikes: {{ article.dislikes__count }}</p>
        </div>
        <form action="{% url 'like-article' article.pk %}?{% if search %}search={{ search }}&{% endif %}{% if author %}author={{ author }}&{% endif %}page={{ page_obj.number }}"
              method="post">
            {% csrf_token %}
            <button type="submit" name="article_like_id" value="{{ article.id }}">Like</button>
        </form>
        <form action="{% url 'dislike-article' article.pk %}?{% if search %}search={{ search }}&{% endif %}{% if author %}author={{ author }}&{% endif %}page={{ page_obj.number }}"
              method="post">
            {% csrf_token %}
            <button type="submit" name="article_dislike_id" value="{{ article.id }}">Dislike</button>
        </form>
        <form action="{% url 'comment-on-news' article.pk %}?{% if search %}search={{ search }}&{% endif %}{% if author %}author={{ author }}&{% endif %}page={{ page_obj.number }}"
              method="post">
            {% csrf_token %}
            <label>Komentar
                <textarea name="content" placeholder="Komentar"></textarea>
            </label>
            <button type="submit" class="ov-form__btn" name="article_dislike_id">Submit</button>
        </form>

        <!-- ZA UREDITI -->
        {% for comment in comments %}
            <table>
                <tr>
                    <td>
                        <p>{{ comment.author.first_name }}{{ comment.author.last_name }}</p>
                    </td>
                    <td>
                        <p>-{{ comment.content }}</p>
                    </td>
                </tr>
            </table>
        {% endfor %}
        <button type="button" id="close-button" class="ov-form__btn ov-form__btn--blue dv-detail-button"
                onclick="modalClose()">
            Zatvori
        </button>
    </div>
</form>

