<form id="edit-news-form" class="ov-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="ov-form__btn-container">
        <button type="button" id="close-button" class="ov-form__btn ov-form__btn--red ov-form__btn-text-only"
                onclick="showNewsDeleteModal({{ object.id }})">Izbriši vijest
        </button>
        <button type="button" id="submitForm" class="ov-form__btn" onclick="submitNewsEditForm({{ object.id }})">
            Sačuvaj
        </button>
        <button type="button" id="close-button" class="ov-form__btn ov-form__btn--blue" onclick="modalClose()">
            Odustani
        </button>
    </div>
</form>