{% load static %}

<form id="edit-news-form" class="ov-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
        <div>
            {{ error }}
        </div>
    {% endfor %}
        <div>
            <label>{{ form.headline.label }}</label>

            {{ form.headline }}
        </div>
        {% if form.headline.errors %}
            <div>
                {{ form.headline.errors }}
            </div>
        {% endif %}
        <div>
            <label>{{ form.content.label }}</label>

            {{form.content}}
        </div>
        {% if form.content.errors %}
            <div>
                {{ form.content.errors }}
            </div>
        {% endif %}
        <div>
            <label>{{ form.image.label }}</label>
                {% if object.image %}
                    <img id="photo-preview" class="dv-photo-preview" src={{ object.image.url }}>
                {% endif %}
                    <img id="photo-preview" class="dv-photo-preview" src='{% static 'img/1.png' %}'>

            {{form.image}}
        </div>
        <button type="button" id="close-button" class="ov-form__btn ov-form__btn--red" onclick="displayModal(URL_ADDRESS+'/news/remove-photo/'+ {{ object.id }}), idKeeper({{ object.id }})">
            Ukloni sliku
        </button>
        <button type="button" id="close-button" class="ov-form__btn ov-form__btn--red"
                onclick="displayModal(DELETE_NEWS_URL+{{ object.id }})">Izbriši vijest
        </button>
        <button type="button" id="submitForm" class="ov-form__btn" onclick="submitNewsEditForm({{ object.id }})">
            Sačuvaj
        </button>
        <button type="button" id="close-button" class="ov-form__btn ov-form__btn--blue" onclick="modalClose()">
            Odustani
        </button>
    </div>
</form>