{% load static %}
<form id="news-article" class="news-preview">
    <h3 class="ov-form__title">Pregled vijesti<button type="button" id="close-button" class="close-button-event" onclick="modalClose()"><i
            class="fa-solid fa-rectangle-xmark"></i>
    </button></h3>

    <div class="news-content">
        <div class="dk-news-preview">
            <div class="header-news-preview">
                <div class="creation-date-news-preview"><p>{{ article.creation_date }}</p></div>
                <div class="article-headline-news-preview"><h4>{{ article.headline }}</h4></div>
                <div class="article-author-news-preview">
                    <a onclick="displayModal(VIEW_USER_URL+{{ article.author.id }})"><p>
                        Autor: {{ article.author.first_name }} {{ article.author.last_name }}</p></a>
                </div>
            </div>
            <div class="content-news-preview">
                <p>{{ object.content }}</p>
                <div class="dv-newsdetails-photo">
                    {% if article.image %}
                        <img src={{ article.image.url }}>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="commentlike-edit-preview">
            <div id="comment-like-section{{ article.id }}" class="comment-like-section-preview">
                <form id="news-like-form" class="news-like"
                      method="post">
                    {% csrf_token %}
                    <button type="button" name="article_like_id"
                            onclick="genericSubmitCommentReactionInModal(REACT_ARTICLE_URL + {{ article.id }} + '/', '#news-like-form', '#comment-like-section{{ article.id }}', {{ article.id }}, {'flag': 'like'})">
                        {% if article.liked %}<i class="fa-solid fa-thumbs-up"></i> {% else %}
                            <i class="fa-regular fa-thumbs-up"></i>{% endif %}</button>
                    <span>{{ article.likes_count }}</span>
                </form>
                <form id="news-dislike-form" class="news-dislike"
                      method="post">
                    {% csrf_token %}
                    <button type="button" name="article_dislike_id"
                            onclick="genericSubmitCommentReactionInModal(REACT_ARTICLE_URL + {{ article.id }} + '/', '#news-dislike-form', '#comment-like-section{{ article.id }}', {{ article.id }}, {'flag': ''})">
                        {% if article.liked == False %}<i class="fa-solid fa-thumbs-down"></i> {% else %}
                            <i class="fa-regular fa-thumbs-down"></i>{% endif %}</button>
                    <span>{{ article.dislikes_count }}</span>
                </form>
                <i class="far fa-comment"></i>
                <span>{{ article.comment_count }}</span>
                <form id="news-comment-form{{ article.id }}" method="post" class="news-comment">
                    {% csrf_token %}
                    <textarea id="news-comment-input{{ article.id }}" name="content" placeholder="Dodaj komentar..."
                              oninput="commentTyped({{ article.id }})"></textarea>
                    <button type="button" id="news-comment-icon{{ article.id }}"
                            onclick="genericSubmitCommentReactionInModal(SUBMIT_COMMENT_URL + {{ article.id }}, '#news-comment-form{{ article.id }}', '#news-article', {{ article.id }})">
                        <i class="fa-solid fa-paper-plane"></i></button>
                    </button>
                </form>
            </div>
        </div>
        <div id="news-comment-content{{ article.id }}" class="news__comment-list">
            {% for comment in comments %}
                <div id="comment-content{{ comment.id }}" class="news__comment-item">
                    <div class="news__comment-profile-img">
                        {% if comment.author.profile_pic %}
                            <img src={{ comment.author.profile_pic.url }}>
                        {% else %}
                            {% if comment.author.gender == 'M' %}
                                <img src='{% static 'img/1.png' %}' alt='man-profile'>
                            {% else %}
                                <img src='{% static 'img/2.png' %}' alt='woman-profile'>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="news__comment-information">
                        <div>
                            <a onclick="displayModal(VIEW_USER_URL+{{ comment.author.id }})">
                                <h4 class="news__comment-author">{{ comment.author.first_name }} {{ comment.author.last_name }}</h4>
                            </a>
                            <span class="news__comment-date">{{ comment.creation_date }}</span>
                        </div>
                        <p class="news__comment-content">{{ comment.content }}</p>
                    </div>
                </div>
                <div id="comment-like-dislike{{ comment.id }}" class="news__comment-btn-container">
                    <form id="comment-like-form" class="news-like"
                          method="post">
                        {% csrf_token %}
                        <button type="button" name="article_like_id" class="news__comment-like-dislike-btn"
                                onclick="genericSubmitCommentReactionInModal(REACT_COMMENT_URL + {{ comment.id }} , '#comment-like-form', '#comment-like-dislike{{ comment.id }}', {{ article.id }}, {'flag': 'like'})">
                            {% if comment.liked %}
                                <i class="fa-solid fa-thumbs-up"></i> {% else %}
                                <i class="fa-regular fa-thumbs-up"></i>{% endif %}</button>
                        <span>{{ comment.likes_count }}</span>
                    </form>
                    <form id="comment-dislike-form" class="news-dislike"
                          method="post">
                        {% csrf_token %}
                        <button type="button" name="article_dislike_id" class="news__comment-like-dislike-btn"
                                onclick="genericSubmitCommentReactionInModal(REACT_COMMENT_URL + {{ comment.id }} , '#comment-dislike-form', '#comment-like-dislike{{ comment.id }}', {{ article.id }}, {'flag': ''})">
                            {% if comment.liked == False %}<i class="fa-solid fa-thumbs-down"></i> {% else %}
                                <i class="fa-regular fa-thumbs-down"></i>{% endif %}</button>
                        <span>{{ comment.dislikes_count }}</span>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</form>