{% extends 'portal/base.html' %}

{% block body %}
          <form class="dk-search" name="userFilterForm">
                <div class="dv-mobile-fullw">
                    <input type="text" placeholder="PRETRAGA..." name="search">
                    <div class="dk-i" onclick="submitFilterForm()">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                <label>Choose author:</label>
                <select name="author" onchange="submitFilterForm()">
                        <option {% if selected == author.pk %} selected {% endif %} value="all">All authors</option>
                    {% for author in author_list %}
                        <option {% if selected == author.pk %} selected {% endif %}
                                value="{{ author.pk }}">{{ author.first_name }} {{ author.last_name }}</option>
                    {% endfor %}
                </select>
          </form>
        <a href="{% url 'news-create' %}">Create</a>

        <div>
        <!-- SREDITI PRIKAZ VIJESTI -->
            {% for article in object_list %}
                <h1>{{ article.author.first_name }}</h1>
                <form action="{% url 'like-article' article.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" name="article_like_id" value="{{ article.id }}">Like</button>
                </form>
                <form action="{% url 'dislike-article' article.pk %}" method="post">
                {% csrf_token %}
                 <button type="submit" name="article_dislike_id" value="{{ article.id }}">Dislike</button>
                </form>
            {% endfor %}
        </div>


        <div class="dk-pagination">
        {% if page_obj.has_previous %}
            <a href="?{% if search %}search={{ search }}&{% endif %}{% if author %}author={{ author }}&{% endif %}page={{ page_obj.previous_page_number }}">&lt;</a>
        {% else %}
            <span class="bk-noNextPage">&lt;</span>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <span class="bk-currentPage">{{ i }}</span>
            {% else %}
                <a href="?{% if search %}search={{ search }}&{% endif %}{% if author %}author={{ author }}&{% endif %}page={{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a href="?{% if search %}search={{ search }}&{% endif %}{% if author %}author={{ author }}&{% endif %}page={{ page_obj.next_page_number }}">&gt;</a>
        {% else %}
            <span class="bk-noNextPage">&gt;</span>
        {% endif %}

    </div>
{% endblock %}