{% extends 'base.html' %}
{% load static %}
{% block body %}
    <form name="userFilterForm">
        <div class="dk-grid">
            <div class="search">
                <div class="dv-mobile-fullw">
                    <div><input type="text" placeholder="PRETRAGA..." name="search"></div>
                    <div class="news-i" onclick="submitFilterForm()">
                        <i class="fas fa-search fa-lg"></i>
                    </div>
                </div>
            </div>
            <div class="choose_author">
                <select name="author" class="dk-author-filter-select" onchange="submitFilterForm()">
                    <option {% if selected == author.pk %} selected {% endif %} value="all">Svi autori</option>
                    {% for author in author_list %}
                        <option {% if selected == author.pk %} selected {% endif %}
                                                               value="{{ author.pk }}">{{ author.first_name }} {{ author.last_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label>Beograd</label>
                <input onchange="submitFilterForm()" type="radio" name="location" value="BG"
                       {% if location == 'BG' %}checked{% endif %} class="radio">
                <label>Banja Luka</label>
                <input onchange="submitFilterForm()" type="radio" name="location" value="BL"
                       {% if location == 'BL' %}checked{% endif %} class="radio">
                <label>Sve
                    lokacije</label>
                <input onchange="submitFilterForm()" type="radio" name="location" value="all"
                       {% if location == None or location == 'all' %}checked{% endif %} class="radio">
            </div>
            {% if user.is_admin or user.is_superuser or user.is_editor %}
                <div class="create_news">
                    <a onclick="displayModal(ADD_NEWS_URL)">Dodajte vijest
                        <i class="fa-solid fa-circle-plus fa-xl"></i></a>
                </div>
            {% endif %}
        </div>
    </form>



    <div class="grid-news">

        {% for article in object_list %}

            <div class="news">

                <div class="headline">
                    <div class="creation-date-news-preview"><p>{{ article.creation_date }}</p></div>
                    <div class="article-headline-news-preview"><h4><a
                            href="http://127.0.0.1:8000/news/article/{{ article.id }}">{{ article.headline }} </a>
                    </h4></div>
                    <div class="article-author-news-preview">
                        <a onclick="displayModal(VIEW_USER_URL+{{ article.author.id }})"><p>
                            Autor: {{ article.author.first_name }} {{ article.author.last_name }}</p></a>
                    </div>
                </div>
                <div class="content">
                    <p>{{ article.content }}</p>
                    <div class="dv-newscard-photo">
                        {% if article.image %}
                            <img src={{ article.image.url }}>
                        {% endif %}
                    </div>
                </div>
                <div class="commentlike-edit-section">
                    <div id="comment-like-section{{ article.id }}" class="comment-like-section">
                        <form id="news-like-form" class="news-like"
                              method="post">
                            {% csrf_token %}
                            <button type="button" name="article_like_id" onclick="submitLikeButton({{ article.id }})">
                                {% if article.liked %}
                                    <i class="fa-solid fa-thumbs-up"></i> {% else %}
                                    <i class="fa-regular fa-thumbs-up"></i>{% endif %}</button>
                            <span>{{ article.likes_count }}</span>
                        </form>
                        <form id="news-dislike-form" class="news-dislike"
                              method="post">
                            {% csrf_token %}
                            <button type="button" name="article_dislike_id"
                                    onclick="submitDislikeButton({{ article.id }})">
                                {% if article.liked == False %}<i class="fa-solid fa-thumbs-down"></i> {% else %}
                                    <i class="fa-regular fa-thumbs-down"></i>{% endif %}</button>
                            <span>{{ article.dislikes_count }}</span>
                        </form>
                        <form action="{% url 'comment-on-news' article.pk %}" method="post" class="news-comment">
                            {% csrf_token %}
                            <textarea id="news-comment-input{{ article.id }}" name="content" placeholder="Dodaj komentar..." oninput="commentTyped({{ article.id }})"></textarea>
                            <button type="submit" id="news-comment-icon{{ article.id }}"><i class="fa-solid fa-paper-plane"></i></button>
                        </form>
                    </div>
                    <div class="edit-preview-button-news">
                        {% if user.is_admin or user.is_superuser or user.is_editor %}
                            <div class="news-button"><a onclick="showNewsEditModal({{ article.id }})">Izmjeni <i
                                    class="fa-regular fa-pen-to-square"></i></a></div>
                            <div class="news-button">
                            <a id="button-user-edit" class="button"
                               onclick="displayModal(VIEW_NEWS_URL+{{ article.id }})">
                                Prikaži vijest</a>
                            </div>

                        {% else %}

                            <a id="button-user-edit" class="button"
                               onclick="displayModal(VIEW_NEWS_URL+{{ article.id }})">
                                Prikaži vijest</a>

                        {% endif %}

                    </div>
                </div>
                <div class="news-comment-content">
                    {% for comment in article.top_comments %}
                        <div class="comment-content">

                          <div class="profile-img-comment">
                            {% if comment.author.profile_pic %}
                                <img src={{ comment.author.profile_pic.url }}>
                            {% else %}
                            {% if comment.author.gender == 'M' %}
                                <img src='{% static 'img/1.png' %}' alt='man-profile'>
                            {% else %}
                                <img src='{% static 'img/2.png' %}' alt='woman-profile'>
                            {% endif %}
                            {% endif %}
                          </div>
                        <a onclick="displayModal(VIEW_USER_URL+{{ comment.author.id }})">
                            <h4>{{ comment.author.first_name }} {{ comment.author.last_name }}</h4></a>
                        <p>{{ comment.content }}</p>

                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        <div class="events-sidebar-news">
        <div>
            <form class="dk-events-sidebar-form">
                <div class="todays-events">
                    <h4>Danas</h4>
                    {% for event in today_events %}
                        <div class="dk-event-name-and-flag">
                            {% if event.type == "Rođendan" or event.type == "Sastanak" %}
                                <div class="circle-mid bg-primary"></div>
                            {% elif event.type == "Daily" or event.type == "Planiranje"%}
                                <div class="circle-mid bg-accent"></div>

                            {% endif %}
                            <a onclick="displayModal(EVENT_PREVIEW_URL+{{ event.id }})"><p>{{ event.title }}</p></a></div>

                    {% endfor %}
                </div>
            </form>
            <form class="dk-events-sidebar-form">
                <div class="tommorows-events">
                    <h4>Sutra</h4>
                    {% for event in tommorow_events %}
                        <div class="dk-event-name-and-flag">
                            {% if event.type == "Rođendan" or event.type == "Sastanak" %}
                                <div class="circle-mid bg-primary"></div>
                            {% elif event.type == "Daily" or event.type == "Planiranje"%}
                                <div class="circle-mid bg-accent"></div>
                            {% endif %}
                            <a onclick="displayModal(EVENT_PREVIEW_URL+{{ event.id }})"><p>{{ event.title }}</p></a></div>
                    {% endfor %}
                </div>
            </form>
            <form class="upcoming-event">
                <h4>Predstojeći događaji</h4>
                <div class="after-tommorow">
                    {% for event in after_tommorow_events %}
                        <a onclick="displayModal(EVENT_PREVIEW_URL+{{ event.id }})"><h4>{{ event.start_time|date }}</h4>
                            <p>{{ event.title }}</p></a>
                    {% endfor %}
                </div>
            </form>
        </div>
        </div>
    </div>

    <div class="dk-pagination">
        {% if page_obj.has_previous %}
            <a href="?{% if search %}search={{ search }}&{% endif %}{% if author %}author={{ author }}&{% endif %}page={{ page_obj.previous_page_number }}">&lt;</a>
        {% else %}
            <span class="bk-noNextPage">&lt;</span>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <span class="bk-currentPage">{{ i }}</span>
            {% else %}
                <a href="?{% if search %}search={{ search }}&{% endif %}{% if author %}author={{ author }}&{% endif %}page={{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a href="?{% if search %}search={{ search }}&{% endif %}{% if author %}author={{ author }}&{% endif %}page={{ page_obj.next_page_number }}">&gt;</a>
        {% else %}
            <span class="bk-noNextPage">&gt;</span>
        {% endif %}

    </div>
{% endblock %}