{% extends 'base.html' %}
{% load static %}
{% block body %}
    <form class="dk-search" name="userFilterForm">
        <div class="dv-input-container">
            <div class="dv-mobile-fullw">
                <div><input type="text" placeholder="PRETRAGA..." name="search"></div>
                <div class="dk-i" onclick="submitFilterForm()">
                    <i class="fas fa-search fa-lg"></i>
                </div>
            </div>
            <div>

                <input onchange="submitFilterForm()" type="radio" name="location" value="BG"
                       {% if location == 'BG' %}checked{% endif %} class="radio"> <label>Beograd</label>

                <input onchange="submitFilterForm()" type="radio" name="location" value="BL"
                       {% if location == 'BL' %}checked{% endif %} class="radio"><label>Banja Luka</label>

                <input onchange="submitFilterForm()" type="radio" name="location" value="all"
                       {% if location == None or location == 'all' %}checked{% endif %} class="radio">
                <label>Sve
                    lokacije</label>
            </div>
            <select name="author" class="ov-form-position" onchange="submitFilterForm()">
                <option {% if selected == author.pk %} selected {% endif %} value="all">Svi autori</option>
                {% for author in author_list %}
                    <option {% if selected == author.pk %} selected {% endif %}
                                                           value="{{ author.pk }}">{{ author.first_name }} {{ author.last_name }}</option>
                {% endfor %}
            </select>
        </div>
        {% if user.is_admin or user.is_superuser or user.is_editor %}
            <a onclick="displayModal(ADD_NEWS_URL)">Dodajte vijest
                <i class="fa-solid fa-circle-plus fa-xl"></i></a>
        {% endif %}

    </form>



    <div class="grid-news">

        {% for article in object_list %}

            <div id="news{{ article.id }}" class="news">

                <div class="headline">
                    <div class="creation-date-news-preview"><p>{{ article.creation_date }}</p></div>
                    <div class="article-headline-news-preview"><h4><a
                            onclick="displayModal(VIEW_NEWS_URL+{{ article.id }})">{{ article.headline }} </a>
                    </h4></div>
                    <div class="article-author-news-preview">
                        <a onclick="displayModal(VIEW_USER_URL+{{ article.author.id }})"><p>
                            Autor: {{ article.author.first_name }} {{ article.author.last_name }}</p></a>
                    </div>
                </div>
                <div class="content">
                    <p>{{ article.content }}</p>
                    <div class="dv-newscard-photo">
                        {% if article.image %}
                            <img src={{ article.image.url }}>
                        {% endif %}
                    </div>
                </div>
                <div class="commentlike-edit-section">
                    <div id="comment-like-section{{ article.id }}" class="comment-like-section">
                        <form id="news-like-form" class="news-like"
                              method="post">
                            {% csrf_token %}
                            <button type="button" name="article_like_id"
                                    onclick="genericSubmitCommentReaction(REACT_ARTICLE_URL + {{ article.id }} + '/', '#news-like-form', '#comment-like-section', {{ article.id }}, {'flag': 'like'})">
                                {% if article.liked %}
                                    <i class="fa-solid fa-thumbs-up"></i> {% else %}
                                    <i class="fa-regular fa-thumbs-up"></i>{% endif %}</button>
                            <span>{{ article.likes_count }}</span>
                        </form>
                        <form id="news-dislike-form" class="news-dislike"
                              method="post">
                            {% csrf_token %}
                            <button type="button" name="article_dislike_id"
                                    onclick="genericSubmitCommentReaction(REACT_ARTICLE_URL + {{ article.id }} + '/', '#news-dislike-form', '#comment-like-section', {{ article.id }}, {'flag': ''})">
                                {% if article.liked == False %}<i class="fa-solid fa-thumbs-down"></i> {% else %}
                                    <i class="fa-regular fa-thumbs-down"></i>{% endif %}</button>
                            <span>{{ article.dislikes_count }}</span>
                        </form>
                        <div id="comment-count-container">
                            <i class="far fa-comment"></i>
                            <span>{{ article.comment_count }}</span>
                        </div>
                        <form id="news-comment-form{{ article.id }}" method="post" class="news-comment">
                            {% csrf_token %}
                            <textarea id="news-comment-input{{ article.id }}" name="content"
                                      placeholder="Dodaj komentar..."
                                      oninput="commentTyped({{ article.id }})"></textarea>
                            <button type="button" id="news-comment-icon{{ article.id }}"
                                    onclick="genericSubmitCommentReaction(SUBMIT_COMMENT_URL + {{ article.id }}, '#news-comment-form{{ article.id }}', '#news', {{ article.id }})">
                                <i
                                        class="fa-solid fa-paper-plane"></i></button>
                        </form>
                    </div>
                    <div class="edit-preview-button-news">
                        {% if user.is_admin or user.is_superuser or user.is_editor %}
                            <div class="news-button"><a onclick="showNewsEditModal({{ article.id }})">Izmjeni <i
                                    class="fa-regular fa-pen-to-square"></i></a></div>
                            <div class="news-button">
                                <a id="button-user-edit" class="button"
                                   onclick="displayModal(VIEW_NEWS_URL+{{ article.id }})">
                                    Prikaži vijest</a>
                            </div>

                        {% else %}
                            <div id="user-news-preview-button" class="news-button">
                                <a id="button-user-edit" class="button"
                                   onclick="displayModal(VIEW_NEWS_URL+{{ article.id }})">
                                    Prikaži vijest</a>
                            </div>
                        {% endif %}

                    </div>
                </div>
                <!-- like dislike za komentare  start-->
                <div id="news-comment-content{{ article.id }}" class="news__comment-list">
                    {% for comment in article.top_comments %}
                        <div id="comment-content{{ comment.id }}" class="news__comment-item">
                            <div class="news__comment-profile-img">
                                {% if comment.author.profile_pic %}
                                    <img src={{ comment.author.profile_pic.url }}>
                                {% else %}
                                    {% if comment.author.gender == 'M' %}
                                        <img src='{% static 'img/1.png' %}' alt='man-profile'>
                                    {% else %}
                                        <img src='{% static 'img/2.png' %}' alt='woman-profile'>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="news__comment-information">
                                <div>
                                    <a onclick="displayModal(VIEW_USER_URL+{{ comment.author.id }})">
                                        <h4 class="news__comment-author">{{ comment.author.first_name }} {{ comment.author.last_name }}</h4>
                                    </a>
                                    <span class="news__comment-date">{{ comment.creation_date }}</span>
                                </div>
                                <p class="news__comment-content">{{ comment.content }}</p>
                            </div>
                        </div>
                        <div id="comment-like-dislike{{ comment.id }}" class="news__comment-btn-container">
                            <form id="comment-like-form"
                                  method="post">
                                {% csrf_token %}
                                <button type="button" name="article_like_id" class="news__comment-like-dislike-btn"
                                        onclick="genericSubmitCommentReaction(REACT_COMMENT_URL + {{ comment.id }} , '#comment-like-form', '#comment-like-dislike', {{ comment.id }}, {'flag': 'like'})">
                                    {% if comment.liked %}
                                        <i class="fa-solid fa-thumbs-up"></i> {% else %}
                                        <i class="fa-regular fa-thumbs-up"></i>{% endif %}
                                </button>

                                <span class="news__comment-like-dislike-count">{{ comment.likes_count }}</span>
                            </form>
                            <form id="comment-dislike-form"
                                  method="post">
                                {% csrf_token %}


                                <button type="button" name="article_dislike_id" class="news__comment-like-dislike-btn"
                                        onclick="genericSubmitCommentReaction(REACT_COMMENT_URL + {{ comment.id }} , '#comment-dislike-form', '#comment-like-dislike', {{ comment.id }}, {'flag': ''})">
                                    {% if comment.liked == False %}<i class="fa-solid fa-thumbs-down"></i> {% else %}
                                        <i class="fa-regular fa-thumbs-down"></i>{% endif %}</button>
                                <span class="news__comment-like-dislike-count">{{ comment.dislikes_count }}</span>

                            </form>
                        </div>
                        <!-- like dislike za komentare end-->
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        <div class="events-sidebar-news">
            <div>
                <form class="dk-events-sidebar-form">
                    <div class="todays-events">
                        <h4>Danas</h4>
                        {% for event in today_events %}
                            <div class="dk-event-name-and-flag">
                                {% if event.type == "Rođendan" or event.type == "Sastanak" %}
                                    <div class="circle-mid bg-primary"></div>
                                {% elif event.type == "Daily" or event.type == "Planiranje" %}
                                    <div class="circle-mid bg-accent"></div>

                                {% endif %}
                                <a onclick="displayModal(EVENT_PREVIEW_URL+{{ event.id }})"><p>{{ event.title }}</p></a>
                            </div>

                        {% endfor %}
                    </div>
                </form>
                <form class="dk-events-sidebar-form">
                    <div class="tommorows-events">
                        <h4>Sutra</h4>
                        {% for event in tommorow_events %}
                            <div class="dk-event-name-and-flag">
                                {% if event.type == "Rođendan" or event.type == "Sastanak" %}
                                    <div class="circle-mid bg-primary"></div>
                                {% elif event.type == "Daily" or event.type == "Planiranje" %}
                                    <div class="circle-mid bg-accent"></div>
                                {% endif %}
                                <a onclick="displayModal(EVENT_PREVIEW_URL+{{ event.id }})"><p>{{ event.title }}</p></a>
                            </div>
                        {% endfor %}
                    </div>
                </form>
                <form class="upcoming-event">
                    <h4>Predstojeći događaji</h4>
                    <div class="after-tommorow">
                        {% for event in after_tommorow_events %}
                            <a onclick="displayModal(EVENT_PREVIEW_URL+{{ event.id }})">
                                <h4>{{ event.start_time|date }}</h4>
                                <p>{{ event.title }}</p></a>
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="dk-pagination">
        {% if page_obj.has_previous %}
            <a href="?{% if search %}search={{ search }}&{% endif %}{% if author %}author={{ author }}&{% endif %}page={{ page_obj.previous_page_number }}">
                <i class="fa-solid fa-chevron-left"></i></a>
        {% else %}
            <span class="bk-noNextPage"><i class="fa-solid fa-chevron-left"></i></a></span>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <span class="bk-currentPage">{{ i }}</span>
            {% else %}
                <a href="?{% if search %}search={{ search }}&{% endif %}{% if author %}author={{ author }}&{% endif %}page={{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a href="?{% if search %}search={{ search }}&{% endif %}{% if author %}author={{ author }}&{% endif %}page={{ page_obj.next_page_number }}"><i
                    class="fa-solid fa-chevron-right"></i></a>
        {% else %}
            <span class="bk-noNextPage"><i class="fa-solid fa-chevron-right"></i></span>
        {% endif %}

    </div>
{% endblock %}