<form id="avatar-delete-form" class="ov-form">
    <h3 class="ov-form__title">Brisanje avatara</h3>
    <div class="ov-delete-modal">
        {% csrf_token %}
        <p class="ov-delete-modal__question">Jeste li sigurni da želite da izbrišete avatar?</p>
        <div class="ov-form__btn-container">
            <button type="button" id="close-button" class="ov-form__btn ov-form__btn--blue" onclick="modalClose()">Ne
            </button>
            <button type="button" id="submitForm" value="Da" class="ov-form__btn"
                    onclick="imageRemove()">Da
            </button>
        </div>
    </div>
</form>