{% extends '../../base.html' %}
{% load static %}


{% block body %}
    <form class="dk-search" name="userFilterForm">
        <div class="dv-input-container">
            <div class="dv-mobile-fullw">
                <div><input type="text" placeholder="PRETRAGA..." name="search"></div>
                <div class="dk-i" onclick="submitFilterForm()">
                    <i class="fas fa-search fa-lg"></i>
                </div>
            </div>
            <div>

                <input onchange="submitFilterForm()" type="radio" name="location" value="BG"
                       {% if location == 'BG' %}checked{% endif %} class="radio"><label>Beograd</label>

                <input onchange="submitFilterForm()" type="radio" name="location" value="BL"
                       {% if location == 'BL' %}checked{% endif %} class="radio"><label>Banja Luka</label>

                <input onchange="submitFilterForm()" type="radio" name="location" value="all"
                       {% if location == None or location == 'all' %}checked{% endif %} class="radio"><label>Sve
                    lokacije</label>


            </div>


            <select class="ov-form-position" name="position" onchange="submitFilterForm()">
                <option {% if selected == 'all' %} selected {% endif %}value="all">Sve pozicije</option>
                {% for position in position_list %}
                    <option {% if selected == position.pk %} selected {% endif %}
                                                             value="{{ position.pk }}">{{ position.position_name }}</option>
                {% endfor %}
            </select>


        </div>
        {% if user.is_admin or user.is_superuser %}
            <a class="button" onclick="displayModal(ADD_USER_URL)">Dodajte zaposlenog <i
                    class="fa-solid fa-circle-plus fa-xl"></i>
            </a>
        {% endif %}
    </form>
    <div class="dk-grid-container">
        {% for object in object_list %}
            <div class="dk-item">
                <div class="dk-img">
                    <img src='{% static 'img/t.png' %}' alt="card-header-logo">
                </div>
                <div class="dk-icon">
                    {% if object.profile_pic %}
                        <img src={{ object.profile_pic.url }}>
                    {% else %}
                        {% if object.gender == 'M' %}
                            <img src='{% static 'img/1.png' %}' alt='man-profile'>
                        {% else %}
                            <img src='{% static 'img/2.png' %}' alt='woman-profile'>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="dk-name">
                    <h4>{{ object.first_name }}</h4>  <h4>{{ object.last_name }}</h4></div>
                <p>{{ object.company_position.position_name }}</p>

                <div class="dk-edit">
                    {% if user.is_admin or user.is_superuser %}
                        <a id="button-user-edit" class="button" onclick="displayModal(VIEW_USER_URL+{{ object.id }})">Izmjeni
                        <i class="fa-regular fa-pen-to-square"></i>
                    {% else %}
                        <a id="button-user-edit" class="button" onclick="displayModal(VIEW_USER_URL+{{ object.id }})">Detalji
                        <i class="fa-regular fa-address-card"></i>
                    {% endif %}
                    </a>
                </div>

            </div>
        {% endfor %}
    </div>

    <div class="dk-pagination">
        {% if page_obj.has_previous %}
            <a href="?{% if search %}search={{ search }}&{% endif %}{% if position %}position={{ position }}&{% endif %}{% if location %}location={{ location }}&{% endif %}page={{ page_obj.previous_page_number }}">&lt;</a>
        {% else %}
            <span class="bk-noNextPage">&lt;</span>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <span class="bk-currentPage">{{ i }}</span>
            {% else %}
                <a href="?{% if search %}search={{ search }}&{% endif %}{% if position %}position={{ position }}&{% endif %}{% if location %}location={{ location }}&{% endif %}page={{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a href="?{% if search %}search={{ search }}&{% endif %}{% if position %}position={{ position }}&{% endif %}{% if location %}location={{ location }}&{% endif %}page={{ page_obj.next_page_number }}">&gt;</a>
        {% else %}
            <span class="bk-noNextPage">&gt;</span>
        {% endif %}

    </div>


    {% if previous_login_date == current_date %}
        <script src="{% static '/../static/js/base.js' %}"></script>
        <script src="{% static '/../static/js/news/news.js' %}"></script>
        <script src="{% static '/../static/js/modal-utils.js' %}"></script>
        <script src="{% static '/../static/js/toast-utils.js' %}"></script>
        <script src="{% static '/../static/js/const-values.js' %}"></script>
        <script>
            /*if(NOTIFICATIONS == true){
                displayModal(URL_ADDRESS + '/employees/notification');
            }else{
                showToast("Nema nista", SUCCESSFUL_ACTION);
            }*/
            displayModal(URL_ADDRESS + '/employees/notification');
            dateSet();
        </script>
    {% endif %}
{% endblock %}