<form id="create-emp-form" class="ov-form">
  <h3 class="ov-form__title">Dodavanje novog korisnika</h3>
  {% csrf_token %} {% for error in form.non_field_errors %}
  <div>{{ error }}</div>
  {% endfor %} {% for field in form %}
  <div>
    <label>{{ field.label }}</label>
    {{ field }}
  </div>
  {% if field.errors %}
  <div>{{ field.errors }}</div>
  {% endif %} {% endfor %}
  <div class="ov-form__btn-container">
    <a class="ov-form__btn" id="submitForm" onclick="submitCreateUserForm()"
      >Sačuvaj</a
    >
    <button
      type="button"
      id="close-button"
      class="ov-form__btn ov-form__btn--blue"
      onclick="closeFunction()"
    >
      Odustani
    </button>
  </div>
</form>
