<form id="delete-emp-form" class="ov-form">
    <h3 class="ov-form__title">Brisanje zaposlenog</h3>
    <div class="ov-delete-modal">
        {% csrf_token %}
        <p class="ov-delete-modal__question">Jeste li sigurni da želite da izbrišete zaposlenog {{ object.first_name }} {{ object.last_name }}?</p>
        <div class="ov-form__btn-container">
            <button type="button" id="close-button" class="ov-form__btn ov-form__btn--blue" onclick="modalClose()">Odustani
            </button>
            <a type="submitForm" id="submitForm" value="Da" class="ov-form__btn"
               onclick="genericSubmitForm('delete-emp-form', DELETE_USER_URL + {{ object.id }} + '/', DELETE_SUCCESSFUL)">Izbriši</a>
        </div>
    </div>
</form>