{% load static %}
<form id="edit-emp-form" enctype="multipart/form-data" class="ov-form">

    <h3 class="ov-form__title">Podešavanje Osnovnih Podataka</h3>
    <div class="dk-icon-edit">
        {% if object.profile_pic %}
            <img src={{ object.profile_pic.url }}>
        {% else %}
            {% if object.gender == 'M' %}
                <img src='{% static 'img/1.png' %}' alt='man-profile'>
            {% else %}
                <img src='{% static 'img/2.png' %}' alt='woman-profile'>
            {% endif %}
        {% endif %}
    </div>
    {% if not form_preview %}
        {% csrf_token %}
        {% for error in form.non_field_errors %}
            <div>
                {{ error }}
            </div>
        {% endfor %}
        <div>
            <label>{{ form.username.label }}</label>

            {{ form.username }}
        </div>
        {% if form.username.errors %}
            <div>
                {{ form.username.errors }}
            </div>
        {% endif %}
        <div>
            <label>{{ form.password.label }}</label>

            {{ form.password }}
        </div>
        {% if form.password.errors %}
            <div>
                {{ form.password.errors }}
            </div>
        {% endif %}
        <div>
            <label>{{ form.first_name.label }}</label>

            {{ form.first_name }}
        </div>
        {% if form.first_name.errors %}
            <div>
                {{ form.first_name.errors }}
            </div>
        {% endif %}
        <div>
            <label>{{ form.last_name.label }}</label>
            {{ form.last_name }}
        </div>
        {% if form.last_name.errors %}
            <div>
                {{ form.last_name.errors }}
            </div>
        {% endif %}
        <div>
            <label>{{ form.email.label }}</label>

            {{ form.email }}
        </div>
        {% if form.email.errors %}
            <div>
                {{ form.email.errors }}
            </div>
        {% endif %}
        <div>
            <label>{{ form.gender.label }}</label>

            {{ form.gender }}
        </div>
        {% if form.gender.errors %}
            <div>
                {{ form.gender.errors }}
            </div>
        {% endif %}
        <div>
            <label>{{ form.company_position.label }}</label>

            {{ form.company_position }}
        </div>
        {% if form.company_position.errors %}
            <div>
                {{ form.company_position.errors }}
            </div>
        {% endif %}
        <div>
            <label>{{ form.work_location.label }}</label>

            {{ form.work_location }}
        </div>
        {% if form.work_location.errors %}
            <div>
                {{ form.work_location.errors }}
            </div>
        {% endif %}
        <div>
            <label>{{ form.is_admin.label }}</label>

            {{ form.is_admin }}
        </div>
        {% if form.is_admin.errors %}
            <div>
                {{ form.is_admin.errors }}
            </div>
        {% endif %}
        <div>
            <label>{{ form.is_editor.label }}</label>

            {{ form.is_editor }}
        </div>
        {% if form.is_editor.errors %}
            <div>
                {{ form.is_editor.errors }}
            </div>
        {% endif %}
        <div>
            <label>{{ form.birth_date.label }}</label>

            {{ form.birth_date }}
        </div>
        {% if form.birth_date.errors %}
            <div>
                {{ form.birth_date.errors }}
            </div>
        {% endif %}
        <div>
            <label>{{ form.phone.label }}</label>

            {{ form.phone }}
        </div>
        {% if form.phone.errors %}
            <div>
                {{ form.phone.errors }}
            </div>
        {% endif %}
        <div>
            <label>{{ form.business_phone.label }}</label>

            {{ form.business_phone }}
        </div>
        {% if form.business_phone.errors %}
            <div>
                {{ form.business_phone.errors }}
            </div>
        {% endif %}



        <div class="ov-form__btn-container">
            <button type="button" id="close-button" class="ov-form__btn ov-form__btn--red"
                    onclick="showUserDeleteModal({{ object.id }})">Izbriši korisnika
            </button>
            <button type="button" id="close-button" class="ov-form__btn ov-form__btn--blue" onclick="modalClose()">
                Odustani
            </button>
            <a id="submitForm" class="ov-form__btn" value="Potvrdi"
               onclick="submitEditUserForm({{ object.id }})">Sačuvaj</a>
        </div>
    {% else %}
        {{ form_preview.as_p }}
        <button type="button" id="close-button" class="ov-form__btn ov-form__btn--blue dv-detail-button"
                onclick="modalClose()">
            Zatvori
        </button>
    {% endif %}
</form>



