{% extends '../../base.html' %}
{% load static %}

{% block body %}
    <div class="ov-container-center-content">
        <form class="ov-form dv-profile-form" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="dk-icon-edit">
                {% for error in form.non_field_errors %}
                    <div>
                        {{ error }}
                    </div>
                {% endfor %}
                <div class="dk-icon">
                    {% if object.profile_pic %}
                        <img id="image-thumbnail" src={{ object.profile_pic.url }}>
                    {% else %}
                        {% if object.gender == 'M' %}
                            <img id="image-thumbnail" src='{% static 'img/1.png' %}' alt='man-profile'>
                        {% else %}
                            <img id="image-thumbnail" src='{% static 'img/2.png' %}' alt='woman-profile'>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <div>
                <label>{{ form.password.label }}</label>

                {{ form.password }}
            </div>
            {% if form.password.errors %}
                <div>
                    {{ form.password.errors }}
                </div>
            {% endif %}
            <div>
                <label>{{ form.first_name.label }}</label>

                {{ form.first_name }}
            </div>
            {% if form.first_name.errors %}
                <div>
                    {{ form.first_name.errors }}
                </div>
            {% endif %}
            <div>
                <label>{{ form.last_name.label }}</label>

                {{ form.last_name }}
            </div>
            {% if form.last_name.errors %}
                <div>
                    {{ form.last_name.errors }}
                </div>
            {% endif %}
            <div>
                <label>{{ form.email.label }}</label>

                {{ form.email }}
            </div>
            {% if form.email.errors %}
                <div>
                    {{ form.email.errors }}
                </div>
            {% endif %}
            <div>
                <label>{{ form.phone.label }}</label>

                {{ form.phone }}
            </div>
            {% if form.phone.errors %}
                <div>
                    {{ form.phone.errors }}
                </div>
            {% endif %}
            <div>
                <label>{{ form.business_phone.label }}</label>

                {{ form.business_phone }}
            </div>
            {% if form.business_phone.errors %}
                <div>
                    {{ form.business_phone.errors }}
                </div>
            {% endif %}
            <div>
                <label>{{ form.profile_pic.label }}</label>
            </div>
            <div>
                {% if object.profile_pic %}
                    <div class="image-container"
                         onmouseover="showButtonsAvatarImage(true, 'id_profile_pic', 'remove-avatar-button')"
                         onmouseleave="showButtonsAvatarImage(false, 'id_profile_pic', 'remove-avatar-button')">
                    <img id="photo-preview" class="dv-photo-preview" src={{ object.profile_pic.url }}>

                {% else %}
                    <div class="image-container" onmouseover="showButtonsAvatarImage(true, 'id_profile_pic', '')"
                         onmouseleave="showButtonsAvatarImage(false, 'id_profile_pic', '')">
                    {% if object.gender == 'M' %}
                        <img id="photo-preview" class="dv-photo-preview" src='{% static 'img/1.png' %}'
                             alt='man-profile'>
                    {% else %}
                        <img id="photo-preview" class="dv-photo-preview" src='{% static 'img/2.png' %}'
                             alt='woman-profile'>
                    {% endif %}
                {% endif %}
                {{ form.profile_pic }}
                <button id="remove-avatar-button" class="ov-form__btn ov-form__btn--red" type="button"
                        onclick="displayModal(DELETE_AVATAR_URL)"><i class="fa-solid fa-trash-can"></i></button>
                </div>
                <div class="ov-form__btn-container">
                    <button class="btn" type="submit">Potvrdi</button>
                    <a class="ov-form__btn--blue btn" onclick="displayModal(PASSWORD_CHANGE_URL)">Promjena
                        lozinke</a>
                </div>
        </form>
    </div>
    <script src="{% static 'js/users/profile.js' %}"></script>
{% endblock %}
