{% extends 'portal/base.html' %}
{% load static %}


{% block body %}
    <div id="ov-modal" class="ov-modal">
        <form method="post" class="ov-form">
            <h3 class="ov-form__title">Podešavanje osnovnih podataka</h3>
        {% csrf_token %}
        {{ form.as_p }}
            <p>
                <label for="username">Username:</label>
                <input type="text" name="username" maxlength="150">
            </p>
            <p>
                <label for="password">Password:</label>
                <input type="password" name="password" maxlength="150">
            </p>
            <p>
                <label for="first_name">First name:</label>
                <input type="text" name="first_name" maxlength="150">
            </p>
            <p>
                <label for="last_name">Last name:</label>
                <input type="text" name="last_name" maxlength="150">
            </p>
            <p>
                <label for="email">Email:</label>
                <input type="email" name="email" maxlength="150">
            </p>
            <p>
                <label>Gender:</label>
            </p>
            <p>
                <input type="radio" name="female">
                <label for="female">Female</label>
            </p>
            <p>
                <input type="radio" name="male">
                <label for="male">Male</label>
            </p>
            <p>
                <label for="company_position">Company position:</label>
                <select name="company_position">
                    <option value="junior_backend_dev">Junior Backend Dev</option>
                    <option value="senior_backend_dev">Senior Backend Dev</option>
                    <option value="junior_frontend_dev">Junior Frontend Dev</option>
                    <option value="senior_frontend_dev">Senior Frontend Dev</option>
                </select>
            </p>
            <div class="ov-form__btn-container">
                <button id="ov-btnCloseModal" class="ov-form__btn ov-form__btn--blue">Odbaci</button>
                <input class="ov-form__btn" type="submit" value="Potvrdi">
            </div>
        </form>
    </div>
    <form class="dk-search">
        <input type="text" placeholder="PRETRAGA.." name="q">
        <div class="dk-i">
            <i class="fas fa-search"></i>
        </div>
        <a id="ov-btnShowModal" href="{% url 'employee-create' %}" class="button">Dodajte zaposlenog <i class="fa-solid fa-circle-plus fa-xl"></i> </a>
    </form>
    <div class="dk-grid-container">
        {% for object in object_list %}
            <div class="dk-item">
                <div class="dk-icon">
                    {% if object.gender == 0 %}
                        <img src='{% static 'img/1.png' %}' alt='man-profile'>
                    {% else %}
                        <img src='{% static 'img/2.png' %}' alt='woman-profile'>
                    {% endif %}
                </div>
                <a href="{% url 'employee-edit' object.pk %}" class="button">
                    <i class="fa-regular fa-pen-to-square"></i>
                </a>
                <a href="{% url 'employee-delete' object.pk %}" class="button">
                  <i class="fa-regular fa-square-minus"></i>
                </a>
                <h4>{{ object.first_name }} {{ object.last_name }}</h4>
                <p>{{ object.company_position.position_name }}</p>
            </div>
        {% endfor %}
    </div>
    <div class="dk-pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        {% else %}
            <span class="bk-noNextPage">&lt;</span>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <span class="bk-currentPage">{{ i }}</span>
            {% else %}
                <a href="?page={{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
        {% else %}
            <span class="bk-noNextPage">&gt;</span>
        {% endif %}

    </div>


{% endblock %}
