{% extends 'portal/base.html' %}
{% load static %}


{% block body %}
    <form class="dk-search">
        <div class="ov-input-container">
            <input type="text" placeholder="PRETRAGA.." name="q">
            <div class="dk-i">
                <i class="fas fa-search"></i>
            </div>
        </div>
        {% if user.is_admin or user.is_superuser %}
        <a class="button" onclick="showUserAddModal()">Dodajte zaposlenog <i class="fa-solid fa-circle-plus fa-xl"></i>
        </a>
        {% endif %}
    </form>
    <div class="dk-grid-container">
        {% for object in object_list %}
            <div class="dk-item">
                <div class="dk-img">
                    <img src='{% static 'img/t.png' %}' alt="card-header-logo">
                </div>
                <div class="dk-icon">
                    {% if object.gender == 'M' %}
                        <img src='{% static 'img/1.png' %}' alt='man-profile'>
                    {% else %}
                        <img src='{% static 'img/2.png' %}' alt='woman-profile'>
                    {% endif %}
                </div>
                <div class="dk-name">
                    <h4>{{ object.first_name }}</h4>  <h4>{{ object.last_name }}</h4></div>
                <p>{{ object.company_position.position_name }}</p>
                {% if user.is_admin or user.is_superuser %}
                <div class="dk-edit">
                    <a id="button-user-edit" class="button" onclick="showUserEditModal({{ object.id }})">Izmjeniti
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="dk-pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        {% else %}
            <span class="bk-noNextPage">&lt;</span>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <span class="bk-currentPage">{{ i }}</span>
            {% else %}
                <a href="?page={{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
        {% else %}
            <span class="bk-noNextPage">&gt;</span>
        {% endif %}

    </div>


{% endblock %}
