.bg-primary{
    background-color: var(--primary);
}
.bg-accent{
    background-color: var(--accent);
}
body .flex{
    display: flex;
}
body .flex-col{
    display: flex;
    flex-direction: column;
}