:root {
    --white: #fff;
    --medium-gray: #444;
    --light-gray: #666;
    --primary: #005B82;
    --primary-light: #e3ebf1;
    --accent: #A8CE3B;
    --accent-light: #ecf4d4;
    --alert: #B20404;
    --alert-light: #F9EBEB;
}