.create-new-event {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.create-new-event a {
    font-size: 1.1rem;
    color: var(--primary);
    grid-column: 7;
    padding-bottom: 2rem;
}

.dk-create-calendar {
    border: 1px solid var(--primary);
    width: 70rem;
    margin: auto;
    background: #fff;
}

.calendar {
    width: 70rem;
    margin: auto;
    border-spacing: inherit;
}

.calendar tr, .calendar td {
    border: 1px solid var(--primary);
}

.calendar th {
    color: var(--primary);
    font-size: 1rem;
    border: 1px solid var(--primary);
    padding: 0.5rem;
}

.calendar td {
    width: 16rem;
    height: 6rem;
    padding: 2.5rem 0 0 1rem;
}

.year-month-calendar {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    background: #E3EBF1;
    padding: 0.2rem;
}

.dk-year-calendar {
    grid-column: 8;
}

.dk-year-calendar h1 {
    font-size: 1.5rem;
    color: var(--primary);
}

.up-down-year a {
    color: var(--primary);
}

.dk-month-calendar {
    grid-column: 11;
}

.dk-month-calendar h1 {
    font-size: 1.5rem;
    color: var(--primary);
}

.up-down-month a {
    color: var(--primary);
}

.calendar ul {
    height: 100%;
    padding-inline-start: 0px;
}

.date a {
    color: var(--primary);
}

.calendar li {
    color: var(--primary);
    font-size: 1rem;
    list-style-type: none;
}

.dk-calendar {
    padding-bottom: 6rem;
}

/* OGI */

/* Calendar */
.calendar td {
    position: relative;
}
.calendar span {
    position: absolute;
    top: 0;
    left: 0;
}
.calendar ul {
    position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
    overflow-y: auto;
    max-height: 80%;
}
.calendar ul a li {
    margin: 0;
    padding: .5rem .25rem;
}
.calendar ul a:nth-child(odd) li {
    color: var(--primary);
    background-color: var(--primary-light);
}
.calendar ul a:nth-child(even) li{
    color: var(--primary);
    background-color: var(--accent-light);
}

/* Event day */
.event-day-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary);
}

.event-day-item-title {
    color: var(--primary);
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1rem 0;
}
.event-day-item-title:hover {
    cursor: pointer;
    color: var(--black);
}

.event-day-item .ov-form__btn-container {
    margin: 0;
}

.event-day-list-btn {
    color: var(--primary);
    display: inline block;
    padding: 1rem;
    border: none;
    background-color: transparent;
}

/* Event overview */
.event-form-content {
    padding: 1rem;
    color: var(--primary);
}

.event-form-content p {
    font-size: 1.5rem;
    padding: 0.5rem 0;
}
.event-form{
    margin:0;
}
/* OGI */
.close-button-event{
    color: var(--primary);
    border:none;
    margin-top: -5rem;
    background: none;
    align-items: end;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}
.event-form-content h4{
    font-size: 22px;
}
.event-form-content p{
    font-size: 16px;
    text-align: left;
    margin: 0;
}
.event-form-header{
    border-bottom: 1px solid var(--primary);
}
.event-preview-form{
    padding-top: 1rem;
    border-bottom: 1px solid var(--primary);
}
.not-visible {
  display: none;
}

.event-day-no-events {
    text-align: center;
    padding: 1rem;
}

