.modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.modal-container .ov-form {
    width: 100%;
    overflow-y: scroll;
}

.modal-header,
.modal-content,
.modal-footer {
    width: 100%;
}



.ov-delete-modal__question {
    width: 50%;
    margin: 0 auto !important;
    color: var(--primary);
}

.ov-delete-modal {
    margin: 0 auto !important;
}