.dk-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-top: 2.5rem;
}
.search{
    grid-column-start: 2;
    grid-column-end: 4;
}
.search input {
    padding: 0.5rem;
    font-size: 0.7rem;
    border: none;
    border-bottom: 2px solid var(--primary);
    width: 15rem;
    display: inline;

}

.news-i {
    display: inline-block;
    position: relative;
    right: -0.5rem;
    cursor: pointer;
    color: var(--primary);
    padding: 0.5rem;
    border: 1px solid var(--primary);
    border-radius: 50%;
    box-shadow: 1px 1px var(--light-gray);
}
.choose_author{
    grid-column-start: 4;
    grid-column-end: 6;
    color: var(--primary);
    padding: 0.5rem;
}
.choose_author select{
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.3rem;
}
.create_news{
    grid-column-start: 9;
    grid-column-end: 10;
    font-size: 1.1rem;
    color: var(--primary);
}
.create_news a{
    font-size: 1.1rem;
    color: var(--primary);
}
.news-details-padding{
    padding-right: 4rem;
    padding-left: 4rem;
}
.grid-news{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 2rem;
    margin-top: 2.5rem;
    grid-column-gap: 2rem;

}
.news{
    grid-column: 2/10 ;
    border: 1px solid var(--primary);
    border-radius: 0.5rem ;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    background: var(--white);
}
.events-sidebar-news{
    grid-column: 10/12;
    grid-row:1/8;
    width: 100%;
    position: sticky;
    top: 3.5rem;
    border-radius: 8px;
}
.events-sidebar-news>div{
    width: 100%;
    position: sticky;
    top: 3.5rem;
    background-color: #F7FAFB;
    border: 1px solid var(--primary);
    border-radius: 8px;
}
.headline{
    display: grid;
    grid-template-columns:2fr 5fr 3fr;
    color: var(--primary);
    grid-template-areas: 
    "date title buttons";
    padding: 0.5rem 1rem;
}

.content{
    color: var(--primary);
    padding: 1rem;
}
.content p{
    font-size: 1.1rem;
}

.commentlike-edit-section{
    display: grid;
    grid-template-columns:3fr 1fr;
}
.edit-preview-button-news{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--primary);
    gap: 1rem;
}
.edit-preview-button-news a{
    font-size: 1rem;
}
.news-button{
    border: 1px solid var(--primary);
    padding: 0.3rem;
    text-align: center;
    border-radius: 0.5rem;
    background: var(--primary-light);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 7rem;
    height: 1.7rem;
}
.news-button a{
    font-size: 0.9rem;
}
.commentlike-edit-preview{
    display: grid;
    grid-template-columns: 2fr 0fr;
}
.comment-like-section {
    display: grid;
    grid-template-columns: 1fr 1fr 10fr;
    grid-template-areas: 
    "like dislike comment";
    width: 90%;
    margin: 0 ;
}
.comment-like-section-preview{
    display: flex;
    width: 100%;
    margin: 0 ;
    column-gap: 1rem;
    align-items: center;
}
.comment-like-section-preview button,
.comment-like-section button {
    border: none;
    background-color: unset;
    color: var(--primary);
}
.comment-like-section-preview button:hover,
.comment-like-section button:hover {
    cursor: pointer;
}
.comment-like-section-preview span,
.comment-like-section span {
    color: var(--primary);
}
.comment-like-section-preview .news-like,
.comment-like-section .news-like {
    grid-area: like;
    align-self: center;
    justify-self: center;
}
.comment-like-section-preview .news-dislike,
.comment-like-section .news-dislike {
    grid-area: dislike;
    align-self: center;
    justify-self: center;
}

.comment-like-section-preview .news-comment,
.comment-like-section .news-comment {
    grid-area: comment;
    border-bottom: 2px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.comment-like-section-preview .news-comment{
    width: 70%;
}
.comment-like-section-preview .news-comment  textarea,
.comment-like-section .news-comment textarea {
    resize: none;
    border: none;
    outline: none;
    width: 90%;
    color: var(--primary);
    height: 1rem;
}
.news-comment textarea {
    padding: .5rem;
}
.comment-like-section .news-comment textarea::placeholder {
    color: var(--primary);
}

.comment-like-section-preview .news-comment button,
.comment-like-section .news-comment button{
    color: var(--primary);
    visibility: hidden;
}
.dk-pagination{
    padding-top:1rem ;
}
.dk-news-details{
    color: var(--primary);
}
.header-news-details{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}
.creation-date-news{
    grid-column: 1/3;
}
.creation-date-news p{
    font-size: 1rem;
}
.article-author-news{
    grid-column: 3/6;
}
.article-author-news p{
    font-size: 1.10rem;
}
.article-headline-news{
    grid-column: 6/14;
    justify-self: left;
}
.article-headline-news h4{
    font-size: 1.5rem;
}
.edit-news{
    grid-column: 15;
}
.edit-news a{
    font-size: 1.10rem;
}
.content-news-details{
    padding-top: 2rem;
}
.dv-newsdetails-photo{
    padding: 1rem;
    text-align: center;
}

.dv-newsdetails-photo img{
    border:1px solid var(--primary);
    border-radius: 1rem;
}

/* NEWS KOMENTARI - OGI */
.news__comment-list {
    margin: 1rem 0;
}
.news__comment-item {
    background-color: var(--primary-light);
    display: flex;
    padding: 1rem;
    border-radius: 5px;

}
.news__comment-profile-img {
    width: 10%;
    height: 5rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}
.news__comment-profile-img img { 
    height: 100%;
}

.news__comment-information {
    width: 90%;
}
.news__comment-information div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.news__comment-author {
    font-size: 1.3rem;
}
.news__comment-content {
    font-size: 1rem;
    margin-top: .5rem;
    word-wrap: break-word;
    line-height: 1.5rem;
}

.news__comment-btn-container {
    display: flex;
    padding: 1rem 0;
}
.news__comment-like-dislike-btn {
    background-color: unset;
    border: none;
    color: var(--primary);
}
.news__comment-like-dislike-count {
    color: var(--primary);
}

/* NEWS KOMENTARI - OGI*/

.header-news-preview{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: var(--primary);
    padding: 1rem 0 1rem 0;
}
.content-news-preview p{
    color: var(--primary);
    font-size: 1.1rem;
}
.news-preview{
    border: 1px solid var(--primary);
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    background-color: var(--white);
    margin: 3rem auto;
    max-height: 70vh;
    overflow: unset;
    overflow-y: scroll;
    padding:1rem;
    width: 70vw;
}
.creation-date-news-preview p{
    font-size: 1rem;
}
.article-headline-news-preview h4{
    font-size: 1.5rem;
    text-align: center;
}
.article-headline-news-preview a{
    color: var(--primary);
}
.article-author-news-preview p{
    font-size: 1rem;
    float: right;
}
.news-preview-button{
    border: 1px solid var(--primary);
    color: var(--primary);
    text-align: center;
    background: var(--primary-light);
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 7rem;
    height: 2rem;
    cursor: pointer;
}
.dk-events-sidebar-form{
    width: 90%;
    margin: 1.5rem auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    border-radius: 8px;

}
.todays-events,
.tommorows-events{
    background: var(--white);
    border: 1px solid var(--primary);
    border-radius: 8px;

}
.todays-events p,
.tommorows-events p{
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--primary);
}
.todays-events h4,
.tommorows-events h4{
    text-align: center;
    padding: 0.8rem;
    border-bottom: 1px solid var(--primary);
    font-size: 1rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--primary);
}
.upcoming-event{
    margin: 1rem auto;
}
.upcoming-event h4{
    text-align: center;
    padding: 0.8rem;
    font-size: 1rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--primary);
    border: none;
}
.after-tommorow h4,
.after-tommorow p{
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--primary);
}
.after-tommorow {
    width: 90%;
    margin: auto;
}

.after-tommorow a{
    padding: 1rem;
    display: block;
    border-radius: 8px;
    border: 1px solid var(--primary);
    background: var(--white);
    margin-bottom: 1rem;
}



