.dk-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-top: 2.5rem;
}
.search{
    grid-column-start: 2;
    grid-column-end: 4;
}
.search input {
    padding: 0.5rem;
    font-size: 0.7rem;
    border: 1px solid var(--primary);
    border-radius: 0.5rem;
    width: 15rem;
    display: inline;

}

.news-i {
    display: inline-block;
    right: 1.8rem;
    position: relative;
    cursor: pointer;
    color: var(--primary);
}
.choose_author{
    grid-column-start: 4;
    grid-column-end: 6;
    color: var(--primary);
    padding: 0.5rem;
}
.choose_author select{
    border-radius: 0.5rem;
    color: var(--primary);
    padding: 0.1rem;
}
.create_news{
    grid-column-start: 9;
    grid-column-end: 10;
    font-size: 1.1rem;
    color: var(--primary);
}
.create_news a{
    font-size: 1.1rem;
    color: var(--primary);
}

.grid-news{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-row-gap: 6rem;
    margin-top: 2.5rem;
}
.news{
    grid-column-start: 2;
    grid-column-end: 10;
    border: 1px solid var(--primary);
    border-radius: 0.5rem ;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    background: #fff;

}
.headline{
    display: grid;
    grid-template-columns:2fr 5fr 3fr;
    color: var(--primary);
    grid-template-areas: 
    "date title buttons";
}
.headline > h4{
    font-size: 1.3rem;
    grid-area: title;
    justify-self: center;
    align-self: center;
    grid-area: title;
}
.headline > a{
    grid-column-start: 8;
    color: var(--primary);
    font-size: 1.1rem;
    text-align:right ;

}
.headline > p{
    font-size: 1.1rem;
    grid-area: date;
}

.headline > div {
    grid-area: buttons;
    justify-self: end;
}


.content{
    color: var(--primary);
    padding: 1rem;
}
.name-author{
    padding: 1rem;
    color: var(--primary);

}
.name-author p{
    font-size: 1.1rem;
}
.comment-like-section {
    display: grid;
    grid-template-columns: 1fr 1fr 10fr;
    grid-template-areas: 
    "like dislike comment";
    width: 50%;
    margin: 0 ;
}
.comment-like-section button {
    border: none;
    background-color: unset;
    color: var(--primary);
}
.comment-like-section button:hover {
    cursor: pointer;
}
.comment-like-section span {
    color: var(--primary);
}
.comment-like-section .news-like {
    grid-area: like;
    align-self: center;
    justify-self: center;
}
.comment-like-section .news-dislike {
    grid-area: dislike;
    align-self: center;
    justify-self: center;
}
.comment-like-section .news-comment {
    grid-area: comment;
    border: 2px solid var(--primary);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.comment-like-section .news-comment textarea {
    resize: none;
    border: none;
    outline: none;
    width: 90%;
    color: var(--primary);
    height: 1rem;
}
.news-comment textarea {
    padding: .5rem;
}
.comment-like-section .news-comment textarea::placeholder {
    color: var(--primary);
}
.comment-like-section .news-comment button{
    color: var(--primary);
    visibility: hidden;
}
.dk-pagination{
    padding-top:1rem ;
}
.dk-news-details{
    color: var(--primary);
    padding: 1rem;
}
.header-news-details{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}
.creation-date-news{
    grid-column: 1/3;
}
.creation-date-news p{
    font-size: 1.10rem;
}
.article-author-news{
    grid-column: 3/6;
}
.article-author-news p{
    font-size: 1.10rem;
}
.article-headline-news{
    grid-column: 6/14;
    justify-self: left;
}
.article-headline-news h4{
    font-size: 1.5rem;
}
.edit-news{
    grid-column: 15;
}
.edit-news a{
    font-size: 1.10rem;
}
.content-news-details{
    padding-top: 2rem;
}
.dv-newsdetails-photo{
    padding: 1rem;
    text-align: center;
}

.dv-newsdetails-photo img{
    border:1px solid var(--primary);
    border-radius: 1rem;
}
.news-comment-content{
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(18,1fr);
}
.comment-content{
    width: 100%;
    background: #E3EBF1;
    border-radius: 0.5rem;
    grid-column: 2/10;
    display: grid;
    grid-template-columns: repeat(18,1fr);
}
.comment-content h4{
    font-size: 1.10rem;
    grid-column: 2/9;
    padding: 0.25rem;
    color: var(--primary);
}
.comment-content p{
    font-size: 1.10rem;
    grid-column: 2/9;
    padding: 0.25rem;
    color: var(--primary);
}
.profile-img-comment{
    grid-column: 1;
    grid-row: 1/10;
    padding: 0.2rem;
}
.profile-img-comment img{
    width: 3rem;
    height: 3rem;
    border: 1px solid var(--primary);
    border-radius: 25rem;
    padding: 0.2rem;
    color: var(--primary);
    background: #fff;
}
.header-news-preview{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: var(--primary);
    padding: 1rem 0 1rem 0;
}
.content-news-preview{
    color: var(--primary);
}
.news-preview{
    border: 1px solid var(--primary);
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    background-color: var(--white);
    margin: 3rem auto;
    max-height: 70vh;
    overflow: unset;
    overflow-y: scroll;
    padding:1rem;
    width: 70vw;
}
.creation-date-news-preview p{
    font-size: 1rem;
}
.article-headline-news-preview h4{
    font-size: 1.2rem;
}
.article-author-news-preview p{
    font-size: 1rem;
}

