<!DOCTYPE html>

<html>
{% load static %}
<head>
    <link href="{% static 'css/homepage.css' %}" rel="stylesheet" type="text/css">
    <title> Naslovna strana - Planet Soft </title>
    <link href="{% static 'img/i.png' %}" rel="shortcut icon" type="image/png">

</head>

<body>
<a href="{% url 'homepage' %}"> Naslovna </a>
<a href="{% url 'zaposleni' %}"> Zaposleni </a>
<img alt="planet soft " src="{% static 'img/slika.jpg' %}">
<p>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
    enim ad minim veniam, quis nostrud exercitation ullamco laboris
    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
    in reprehenderit in voluptate velit esse cillum dolore eu fugiat
    nulla pariatur. Excepteur sint occaecat cupidatat non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborum.

</p>


</body>

</html>