{% extends "../base.html" %}

{% block body%}
<div class="dk-grid-container">
    <div class="dk-item">
        <div class="dk-icon"><i class="fas fa-user-tie fa-5x"></i></div>
        <h2>Aleksandra Stanic</h2>
        <p>Senior front end developer</p>
    </div>
    <div class="dk-item">
        <div class="dk-icon"><i class="fas fa-user-tie fa-5x"></i></div>
        <h2>Aleksandra Stanic</h2>
        <p>Senior front end developer</p>
    </div>
    <div class="dk-item">
        <div class="dk-icon"><i class="fas fa-user-tie fa-5x"></i></div>
        <h2>Aleksandra Stanic</h2>
        <p>Senior front end developer</p>

    </div>
</div>
{% endblock %}
