{% extends 'portal/base.html'  %}

{% block body %}
    <div class="ov-container-center-content ov-password-change">
        <form class="ov-form" action="{% url 'password-change' %}" method="post">
            <h3 class="ov-form__title">Promjena šifre</h3>
            {% csrf_token %}
        {% for error in form.non_field_errors %}
            <div>
                {{ error }}
            </div>
        {% endfor %}
        {% for field in form %}
            <div>
                {{ field.label }}
                {{ field }}
            </div>
            {% if field.errors %}
            <div>
            {{ field.errors }}
            </div>
            {% endif %}
        {%  endfor %}
        <div>
            <button class="ov-form__btn" type="submit">Change password</button>
        </div>
        </form>
    </div>
   
{% endblock %}