<form class="ov-form">
    <h3 class="ov-form__title">Dnevni pregled</h3>
    <button type="button" id="close-button" class="close-button-event" onclick="modalClose()"><i
            class="fa-solid fa-rectangle-xmark"></i>
    </button>
    {% if event_list %}
        {% for event in event_list %}
            <div class="event-day-item">
                <a onclick="displayModal(EVENT_PREVIEW_URL+{{ event.id }})"><h4
                        class="event-day-item-title">{{ event.title }}</h4></a>
                {% if user.is_admin or user.is_superuser or event.author == request.user %}
                    <div class="ov-form__btn-container">
                        <a class="event-day-list-btn" type="button"
                           onclick="displayModal(EDIT_EVENT_URL+{{ event.id }})"><i
                                class="fa-solid fa-pen-to-square"></i></a>
                        <a class="event-day-list-btn" type="button"
                           onclick="displayModal(DELETE_EVENT_URL+{{ event.id }})"><i class="fa-solid fa-trash-can"></i></a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <h4 class="event-day-no-events">Nema događaja danas.</h4>
    {% endif %}
</form>

