<form id="create-event-form" class="ov-form event-form" method="post">
    <h3 class="ov-form__title">Dodavanje događaja</h3>
    {% csrf_token %}
    {% for error in form.non_field_errors %}
        <div>
            {{ error }}
        </div>
    {% endfor %}
    <div>
        <label>{{ form.title.label }}</label>

        {{ form.title }}
    </div>
    {% if form.title.errors %}
        <div>
            {{ form.title.errors }}
        </div>
    {% endif %}
    <div>
        <label>{{ form.details.label }}</label>

        {{ form.details }}
    </div>
    <div>
        <label>{{ form.start_time.label }}</label>

        {{ form.start_time }}
    </div>
    {% if form.start_time.errors %}
        <div>
            {{ form.start_time.errors }}
        </div>
    {% endif %}
    <div>
        <label>{{ form.end_time.label }}</label>

        {{ form.end_time }}
    </div>
    <div>
        <label>{{ form.repeat_days.label }}</label>

        {{ form.repeat_days }}
    </div>
    <div>
        <label>{{ form.repeat_every_year.label }}</label>

        {{ form.repeat_every_year }}
    </div>
    <div>
        <label>{{ form.type.label }}</label>
        {{ form.type }}
    </div>
    <div>
        <div id="shared-choice-container" class="shared-choice-container">
            <label>{{ form.shared.label }}</label>
            <input id="myInput" type="text" onkeyup="filterTextInput()" placeholder="Pretraga...">
            {{ form.shared }}
        </div>
        <div class="ov-form__btn-container">
            <button class="ov-form__btn" type="button"
                    onclick="genericSubmitForm('create-event-form', CREATE_EVENT_URL, SUCCESSFUL_ACTION)">Potvrdi
            </button>
        </div>
    </div>
</form>
